:host {
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  font-family: century-gothic, sans-serif;
}

form {
  text-align: center;
}

.subtitle {
  color: white;
}

.newsletter-button {
  border: 1px solid #fff;
  background: #0000;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in all;
  color: #fff;
  border-radius: 0.5rem;

  .fal {
    max-width: 0;
    opacity: 0;
    transform: translateX(-3rem);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: black;
    background-color: white;
    transition: 0.2s ease-in all;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);

    .fal {
      max-width: 2rem;
      margin-left: 0.5rem;
      opacity: 1;
      transform: translateX(0);
      transition: all 0.2s ease-in-out;
    }
  }
}

.newsletter-input {
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background: transparent;
  color: #fff;
  transition: all 200ms ease-out;
  box-shadow: none;
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  width: -webkit-fill-available;

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.75);
    transition: all 200ms ease-out;
    background-color: #fff;
    color: #000;
  }
}

.invalid {
  border: 1px solid red;
  transition: border 200ms ease-out;
}
