@import "modules/all";

:host {
  display: block;
  margin: 0.75rem 1.5rem;
  color: $color-bg;
}

.maya-number-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;

  width: 7.5rem;
  height: 7rem;
}

.inline-numbers {
  display: flex;
  flex-direction: row;
}

.number-row {
  text-align: center;
}
