
<div
  class="main"
  #main
>
<style>
    .wall__bg {
  background-image: url("/assets/about-bg.png");
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.gradient 
{
   height: 150%; 
}
  
p{
  font-size: 13px;
}
.po{

  font-size: 110px;
  color:white;
  line-height: .9;
}
.pof{
  font-size: 40px;
  line-height: .9;
  color:white;
}
.pof{
  font-size: 60px;
  line-height: .9;
  color:white;
}
  .submenu
{
padding-left: 700px;
color: white;
}
.submenu2
{
padding-left: 100px;
color: white;
}


</style>
<div class="gradient" style="margin-top: -160px;">
    <div class="gradient gradient__image wall__bg" style="margin-top: 0px;" ></div>
<br><br>
<section class="section responsive" style="margin-top: 200px;">
<div class="links"  style="">
 <a  class="submenu" > <u>Purpose</u></a>  <a class="submenu2" >The journey </a>  <a  class="submenu2"> Team </a>
 <a   class="submenu2" >Partner </a> 
</div>

 <div class="columns" style="margin-top: 50px;">

      <div class="column is-5">
 <h1 class="po">About kinam</h1>

      </div>
      <div class="column is-3 ">
        <p class="pof">Our<br> Mission</p>
    <h3>Planting the seed</h3><br>
<p>
       KINAM’s mission is to re-define the consumption of fashion and create high quality and long lasting garments alongside Maya-descendant Artisans from Guatemala. We strive to empower the indogenius Maya descendants by creating jobs that provide stable incomes for their families and communities. <br><br><br>

KINAM garments make a true statement, by celebrating Maya traditions through artful textiles and by providing opportunities for Maya descendants to build a better future. Your unique, high-quality jacket tells you a story of the Maya culture in a modern way. It is our mission to help the Mayas rediscover their ancient heritage and reconnect to their roots, while at the same time raising awareness for their beautiful art around the world.
</p>

      </div>
      <div class="column is-3 ">




      </div>
    </div>
  </section>


 
  

</div></div>