
<div
  class="main"
  #main
>
<style>
  
p{
  font-size: 13px;
}
.po{

  font-size: 110px;
  color:white;
  line-height: .9;
  margin-left: 300px;
}
.pof{
  font-size: 75px;
  line-height: .9;
  color:white;
}
.poff{
    font-size: 28px;
    font-family:Century Gothic;
    line-height: .9;
    color:white;
}
  .submenu
{
padding-left: 700px;
color: white;
}
.submenu2
{
padding-left: 100px;
color: white;
}


</style>
<br><br>
 <a  class="submenu" > </a> Purpose <a   class="submenu2" ><u>The journey</u> </a>  <a  class="submenu2"  > Team</a> <a  class="submenu2"  > Partners</a>
    

 
<section class="section">
 <div class="columns">
      <div class="column is-6">
 <div class="po">About kinam</div>

      </div>
      <div class="column is-2 ">
        <br>
        <div class="pof" >Our Journey</div>

    <div class="poff" >Growing stronger together</div>
    <br>
<p>
        The idea for KINAM was born in 2013 in Guatemala as a way to celebrate the ancient Maya traditions and create a steady income independent from tourism to aid impoverished indigenous tribes. After moving to Berlin in 2017, Oshko met Nicolas at a QUARTERS Co-Living party and shared goals and visions for the future. Nicolas dreamt of founding a music label and media production company with childhood friends Christopher and Orhan. Oshko loved the idea, and proposed to join forces to create KINAM.
<br><br>
Soon after, the four co-founders traveled to Guatemala to shoot content for the crowdfunding video, record live audio from the jungle for an electronic music album inspired by the Maya culture, and find a product for their brand. They decided on handwoven jackets, produced in collaboration between Maya descendant artisans and Berlin product experts, to tell the stories of the Mayas in a sleek, stylish way. In the past 8 months, the team has grown to 30 members across 7 countries, creating a global, loving network thrilled to bring the Maya textile art to the world. 
</p>

      </div>
      <div class="column is-3 ">


      </div>
    </div>
  </section>




 
  

</div>