<div
    class="main"
    #main
>
   


<style type="text/css">
    
p{
font-family:Freight Sans;
    font-size: 13px;
     
     

}

.p2{
font-family:Freight Sans;
    font-size: 17px;
     
     

}

.submenu
{
padding-left: 700px;
color: white;
}
.submenu2
{
padding-left: 100px;
color: white;
}
.pof{
    font-size: 60px;
    font-family:Century Gothic;
    line-height: .9;
    color:white;
}


</style>
<br><br>
 <a  class="submenu" > Mayas </a>  <a   class="submenu2" ><u> Calendar</u></a> 


   <section class="section">

        <div class="columns">

 <div class="column is-4 " >
</div>
 <div class="column is-3 " >

<div class="pof">Kawoq  </div>
<div class="p2">Your spirit  Guardian</div>
<br>
<hr>
<br>


<div class="p2">Your energy Number</div>



</div>
 <div class="column is-3 " >
<h2><b>Meaning </b></h2>
<br>
<p>It is family, meetings, groups, society, community, country, continent, the planet, the planetary system, the galaxy, the universe, and expansion. It means the strength of unity. It is the energy of abundance, in both the material and spiritual sense. </p>
<br><br>
<h2><b>Charecteristics </b></h2>
<br>
<p>People born under this sign are kind, generous, calm, intelligent and imaginative. They guide and defend people. They have a great capacity for interaction thus can fit in anywhere in any situation and get along with everyone. They are influenced by what other people say. They like to put things into place therefore not hesitate to voice their opinions against something they consider to be incorrect. They are family oriented and feel the need to live other people’s life for them. Although their intention is to prevent other’s suffering but they tend to be manipulative and may impose their vision. The find it difficult to find a spouse due to their conservative nature in this regard, unless they become less dependent on their family. </p>


</div>






</div>
