<h1 class="title has-text-white">The Mayans</h1>

<hr>

<div class="gradient gradient__container">
    <div class="gradient gradient--small gradient__image section__mayans__img"></div>
</div>

<section class="section">

    <div class="columns">
        <div class="column">
            <p>
                As a society, the Maya were highly oriented towards a community. Personal gratification was never their
                goal, and
                even
                today, in the remotest regions where traditions have endured and Western influence is minimal, the well
                being of the
                whole is the Maya’s higher priority. Everyone tends to the needs of the community before their own and
                leaders, or
                chiefs, are those who have demonstrated an ability to serve the people. Mayan philosophy is not looking
                for
                followers;
                ours is a tradition, not a religion. We are not a sect but a sector, and we simply present our
                cosmo-vision
                while
                respecting all other traditions. One of the first things I learned along the Maya path was not to judge
                or
                compete,
                much
                less imposing. We believe in respect.
            </p>
        </div>

        <div class="column">
            <p>
                The Maya were one of the most mysterious and amazing civilizations ever to have existed. They are one of
                only a few
                peoples to have endured for over twelve thousand years. This phenomenal civilization achieved greatness
                in a
                variety
                of
                disciplines of human knowledge. Mayan scientific advances are not widely recognized, but the legacy the
                Maya
                left us
                is
                evident in everyday life. Their far-ranging endeavors were always in harmony with nature and respectful
                of
                all forms
                of
                life. They never hunted more than was necessary and never abused the land, planting only what was
                needed.
                Not even a
                tree was cut down without first conducting a ceremony in which the Maya asked the tree’s spirit to live
                in a
                ritual
                object or become part of them.
            </p>
        </div>

        <div class="column">
            <p>One of the greatest Mayan contributions that have permeated every facet of our daily lives was their
                variety
                of
                crops.
                The Mayan diet based on corn, beans, and amaranth provides the body with all of the amino acids,
                carbohydrates, and
                proteins needed for proper development. The Maya made unprecedented breakthroughs in math. They
                independently
                created
                their own concept of zero almost at the same time it was invented in Babilonia. This joining of
                mathematical
                precision
                and abstraction—resulting in the notion of zero as a value as opposed to nothing—is one of the most
                extraordinary
                achievements of human thought.
                The concept of zero contributed to the development of the world’s most precise calendars. Not only did
                the
                Maya
                establish a series of measurements and calendar systems for Venus, Mercury, and Jupiter, but most
                astonishing of
                all,
                they created calendars for our galaxy and those that make up our cluster of galaxies.
            </p>
        </div>
    </div>
</section>