<style type="text/css">
  .wall__bg {
    background-image: url("/assets/maya.png");
    height: 100%;
    /* margin-top: -13% !important; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .gradient {
    height: 105%;
  }

  p {
    font-family: Freight Sans;
    font-size: 17px;
    text-align: right;
    margin-left: 70px;

  }

  .submenu {
    /* padding-left: 700px; */
    padding-left: 35%;
    color: white;
  }

  .submenu2 {
    padding-left: 100px;
    color: white;
  }


  .jun {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 21px;
    font-weight: lighter;
  }
</style>


<div class="main" #main>






  <div class="gradient " style="margin-top: -160px;">
    <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div>

    <section class="section responsive">
      <section class="section__mayans" id="mayans">
        <br><br>
        <div>
          <img class="mayans-img imageBg" src="assets/theMayans.png" alt="Bottom Leaf">
        </div>

        <div class="mayyan-menu" style="margin-top: 17rem">
          <a class="submenu"> <u>Mayans </u></a> <a routerLinkActive="active" routerLink="/calendar" class="submenu2">
            Calendar</a>
        </div>

        <div class="columns is-gapless">
          <div class="column is-6" style="margin-top: -6rem">

            <div class="text">
              <p class="jun">
                In the jungles of Guatemala the ancient civilization of the Mayas with its beautiful art, architecture
                and
                astrology is waiting to be shared with the world.
              </p>
            </div>
            <a routerLink="/">
              <div class="btn--mayans">
                <div class="hover-container">
                  <div class="outer">
                    <div class="inner overlay"></div>
                    <div class="inner outline"></div>
                    <div class="behind fill ">
                      <div class="mayan-reading__text">
                        <span style="color: blue;">DISCOVER YOUR MAYA SIGN</span>
                        <i class="fal fa-chevron-right is-pulled-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="column is-1">

          </div>
          <div class="column is-2">
            <div class="content-block__headline ancient-heading">An ancient<br>
              Civilization<br>
            </div>
            <!-- <div class="meet-the-mayans">
          MEET THE MAYANS
          <i class="fal fa-chevron-right"></i>
        </div> -->
            <div class="content-block" style="margin-top: 1rem; padding-top:1rem">
              <img src="assets/mayans04.png"><br>
              <img src="assets/models/kaqchikel.png">

            </div>
          </div>
          <div class="column is-2">
            <!-- <div class="meet-the-mayans">
          MEET THE MAYANS
          <i class="fal fa-chevron-right"></i>
        </div> -->
            <div class="content-block" style="margin-top: 8rem; ">
              <div class="content-block__headline">
              </div>
              <div class="content-block__body">
                <!-- The Mayas are one of the most fascinating civilizations in human history. They achieved great progress in many fields, and were centuries ahead of Western civilization in some of their discoveries. Their legacy can be seen in numerous aspects of daily life, such as in mathematics, astronomy, farming, language, art and architecture. For instance, the Mayas created one of the first ever recorded concept of zero, and developed a unique numbering system using only dots and lines, which was more advanced than any other number system at that time. They also invented a highly sophisticated writing system composed of beautiful symbols known as maya glyphs. The most iconic symbol remaining today are their impressive temples, built on pyramids and dedicated to their gods. -->
                The Mayas are one of the most fascinating civilizations in human history. They achieved great progress
                in
                many fields, and were centuries ahead of Western civilization in some of their discoveries. Their legacy
                can be seen in numerous aspects of daily life, such as in mathematics, astronomy, farming, language, art
                and architecture. For instance, the Mayas created one of the first ever recorded concept of zero, and
                developed a unique numbering system using only dots and lines, which was more advanced than any other
                number system at that time. They also invented a highly sophisticated writing system composed of
                beautiful symbols known as maya glyphs. The most iconic symbol remaining today are their impressive
                temples, built on pyramids and dedicated to their gods.
                <br>
                <br>
                <!-- It’s thanks to the Mayas that we eat corn, beans, squash, chili pepper, amaranth and many other staple crops. Their farming methods were both sustainable and highly functional, only hunting and planting the necessary amount to feed their large and diverse populations. Caring for the community, rather than the individual, was always of utmost importance to them. The Mayas were very ceremonial people and believed in the supernatural; they performed rituals to worship the gods and their ancestors to bring them good will. Above all, the Mayas believe in respect and love for all life, other cultures and traditions, and nature, and seek to live harmoniously with everything around them.  -->
                It’s thanks to the Mayas that we eat corn, beans, squash, chili pepper, amaranth and many other staple
                crops. Their farming methods were both sustainable and highly functional, only hunting and planting the
                necessary amount to feed their large and diverse populations. Caring for the community, rather than the
                individual, was always of utmost importance to them. The Mayas were very ceremonial people and believed
                in the supernatural; they performed rituals to worship the gods and their ancestors to bring them good
                will. Above all, the Mayas believe in respect and love for all life, other cultures and traditions, and
                nature, and seek to live harmoniously with everything around them.
                <br>
                <br>
                Source: The Book Of Destiny
                <br>
                By Carlos Barrios
                <br>
                Shaman & Member of The Maya Elders Council
                <div class="order-now__links">
                  <a href="/the-mayans" routerLink="/the-mayans">learn more <i class="fal fa-chevron-right"></i><i
                      class="fal fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- social icons column -->
          <div class="column is-1 social-icons">
            <kinam-social-icons></kinam-social-icons>
          </div>
        </div>
      </section>
    </section>
    <section>
      <div class="column is-1 social-icons" style="width: 100%">
        <kinam-page-footer></kinam-page-footer>
      </div>
      <!-- <kinam-page-footer></kinam-page-footer> -->
    </section>

  </div>


</div>