<style type="text/css">
  .wall__bg {
    background-image: url("/assets/maya.png");
    height: 100%;
    /* margin-top: -13% !important; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .gradient {
    height: 105%;
  }

  p {
    font-family: Freight Sans;
    font-size: 17px;
    text-align: right;
    margin-left: 70px;

  }

  .submenu {
    padding-left: 700px;
    color: white;
  }

  .submenu2 {
    padding-left: 100px;
    color: white;
  }


  .jun {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 25px;
    font-weight: lighter;
  }
</style>


<div class="main" #main>






  <div class="gradient " style="margin-top: -160px;">
    <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div>

    <section class="section responsive">
      <section class="section__mayans" id="mayans">
        <br><br>
        <img class="mayans-img" src="assets/theMayans.png"
          style=" position: absolute; z-index: -1; right: 1-0rem; min-height: 100vh;min-width: 200vh; margin-top: 50px;"
          alt="Bottom Leaf">
        <div class="mayyan-menu">
          <a class="submenu"> <u>Mayans </u></a> <a routerLinkActive="active" routerLink="/calendar" class="submenu2">
            Calendar</a>
        </div>

        <div class="columns is-gapless" style="margin-top: 10px;">
          <div class="column is-6">

            <div class="text">
              <p class="jun">
                In the jungles of Guatemala the ancient civilization of the Mayas with its beautiful art, architecture &
                astrology, is waiting to be shared with the world.
              </p>
            </div>
            <a routerLink="/">
              <div class="btn--mayans">
                <div class="hover-container">
                  <div class="outer">
                    <div class="inner overlay"></div>
                    <div class="inner outline"></div>
                    <div class="behind fill ">
                      <div class="mayan-reading__text">
                        <span style="color: blue;">DISCOVER YOUR MAYA SIGN</span>
                        <i class="fal fa-chevron-right is-pulled-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="column is-3">
            <div class="content-block__headline ancient-heading">An ancient<br>
              Civilization<br>
            </div>
            <!-- <div class="meet-the-mayans">
          MEET THE MAYANS
          <i class="fal fa-chevron-right"></i>
        </div> -->
            <div class="content-block" style="margin-top: 1rem;">


            </div>
          </div>
          <div class="column is-2">
            <!-- <div class="meet-the-mayans">
          MEET THE MAYANS
          <i class="fal fa-chevron-right"></i>
        </div> -->
            <div class="content-block" style="margin-top: 8rem; ">
              <div class="content-block__headline">
              </div>
              <div class="content-block__body">
                The Mayas are one of the most fascinating civilizations in human history. They achieved great progress
                in many fields, and were centuries ahead of Western civilization in some of their discoveries. Their
                legacy can be seen in numerous aspects of daily life, such as in mathematics, astronomy, farming,
                language, art and architecture. For instance, the Mayas created one of the first ever recorded concept
                of zero, and developed a unique numbering system using only dots and lines, which was more advanced than
                any other number system at that time. They also invented a highly sophisticated writing system composed
                of beautiful symbols known as maya glyphs. The most iconic symbol remaining today are their impressive
                temples, built on pyramids and dedicated to their gods.
                <br>
                <br>
                The Mayas are one of the most fascinating civilizations in human history. They achieved great progress
                in many fields, and were centuries ahead of Western civilization in some of their discoveries. Their
                legacy can be seen in numerous aspects of daily life, such as in mathematics, astronomy, farming,
                language, art and architecture. For instance, the Mayas created one of the first ever recorded concept
                of zero, and developed a unique numbering system using only dots and lines, which was more advanced than
                any other number system at that time. They also invented a highly sophisticated writing system composed
                of beautiful symbols known as maya glyphs. The most iconic symbol remaining today are their impressive
                temples, built on pyramids and dedicated to their gods.
                <div class="order-now__links">
                  <a href="/the-mayans" routerLink="/the-mayans">learn more <i class="fal fa-chevron-right"></i><i
                      class="fal fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </section>
  </div>


</div>