<div
    class="main"
    #main
>
   


<style type="text/css">
    
p{
font-family:Freight Sans;
    font-size: 20px;
    letter-spacing: 2px;
    color:gray;
   

}

.submenu
{
padding-left: 700px;
color: white;
}
.submenu2
{
padding-left: 100px;
color: white;
}
.pof{
    font-size: 40px;
    font-family:Century Gothic;
    line-height: .9;
    color:white;
}
.rectangle {
  height: 25px;
  width: 50px;
  background-color: transparent;
  color:gray;
  text-align: center;
  border:solid;
  border-color: gray;
  border-width: 1px;
}

</style>
<br><br>
 <a  class="submenu" > Mayas </a>  <a   class="submenu2" ><u> Calendar</u></a> 


   <section class="section">

        <div class="columns">

 <div class="column is-6 " >

</div>
 <div class="column is-2 " >


<div class="pof">
	Enter your birthday </div>

	<p>
		find out about your Maya Sign
	</p>

</div>


 <div class="column is-3 " >

 <p>
<input type="" name="dd/mm/yy" style="background-color: transparent;border-color: transparent;color: white;font-size: 20px;"placeholder="dd/mm/yy">
</p>
<br>

<div class="rectangle">read</div>
</div>







</div>