:host {
  color: white;   
  margin-top: 5rem;
  display: block;
}

h1, h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;  
}

h2 {
  font-size: 1.5rem;
}

// .arrow-down {
  // color: black;


.arrow-down {
  text-align: center;
  font-size: 2rem;
}

.swipe-container {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
}

.image-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 600px;
  max-height: 600px;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0px 0px 111px 0px rgba(0,0,0,0.85);
}

.btn {
    height: 3rem;
    min-width: 5rem;
    cursor: pointer;

    &--primary {
        border: 2px solid white;
        color: white;
        background-color: transparent;
        border-radius: 3rem;
        font-size: 1.25rem;
        padding: 0.25rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.2s all ease-out;

        &:hover {
            color: black;
            background-color: white;

            transition: 0.2s all ease-out;
        }
    }
}

.icon-header {
    z-index: 5;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #000;
    opacity: 0.85;
  } 
  

.column {
    &__divider {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .stripe {
        flex: 1;
        height: 1px;
        min-width: 6rem;
        min-height: 1px;
        background-color: #fff;
        padding: 0 1rem;
      }
    }
  }

  .icon-header {
    z-index: 5;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #000;
    opacity: 0.85;

    .menu-icon {
        width: auto;
        height: 1.5rem;
        cursor: pointer;
    }
  } 

  
.text-flex-start{
    justify-content: flex-start;
}

:host {
  color: white;
  position: relative;
  padding-top: 5rem;
  display: block;
}

.justify-flex-start {
  justify-content: flex-start;
}

.icon-header {
  z-index: 5;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #000;
  opacity: 0.85;
  
  .menu-icon {
    width: auto;
    height: 1.5rem;
    cursor: pointer;
  }
} 



.help-rebuild { 
  position: absolute;
  left: 1rem;
  z-index: 2;
  min-height: 15rem;
}

.help-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    font-size: 4rem;
    font-weight: 700;
  }
}

.column {
  &__divider {
    display: flex;
    justify-content: center;
    align-items: center;

    .stripe {
      flex: 1;
    }
  }
}

.stripe {
  height: 1px;
  min-width: 6rem;
  min-height: 1px;
  background-color: #fff;
  padding: 0 1rem;
}


.img-nav__container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: calc(100% - 1.25rem);
  z-index: 4;
}

.slider-container {
  overflow-x: auto;
  min-height: 30rem;
  position: relative;
  margin-bottom: 1rem;

  &.left {
    margin-right: auto;
  }

  &.right {
    margin-left: auto;

  }
}

.img-nav {
  height: 1rem;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #0000;
  justify-content: center;
  align-items: flex-end;
}

.swipe-container {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
}

.image-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 600px;
  max-height: 600px;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0px 0px 111px 0px rgba(0,0,0,0.85);
}

.kinam-section {
  padding: 0.25rem;
}

img {
  max-width: 50vw;
}

.behind-the-product {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.arrow-down {
  text-align: center;
  font-size: 2rem;
}

.personalize-jacket {
  display: flex;
  align-items: center;
}


.link  {
  padding-bottom: 1rem;
  text-decoration: none;
  color: white;
  box-shadow:  inset 0px -4px 0px 0px rgba(255,255,255,0);
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: inset 0px -4px 0px 0px rgba(255,255,255,0.75);
    transition: box-shadow 0.4s;
  }
}

.fa-angle-right,
.fa-angle-left {
  padding: 1rem;
  background-color: #353535;
}

.arrows {
  color: #000;
  font-size: 4rem;
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: underline;
  margin: 0 0.25rem;
}

.birthday-input {
  margin: 1rem auto 3rem auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 30rem;

  &__number-container {
    transition: 0.3s border ease-in-out;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .date-input {
      font-size: 2rem;
      color: white;
    }
    
    .label {
      color: black;
      transform: translateY(2rem) scale(0.9);
      transition: 0.4s all;
    }

    &.is-focussed,
    &:hover {
      .label {
        color: white;
        transform: translateY(0) scale(1);
        transition: 0.4s all;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .text-content {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
  .swipe-container {
    left: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .slider-container {
    overflow-x: auto;
    margin-left: 30vw;
    width: 70vw;

    &.left {
      margin-left: 0;
      margin-right: 30vw;
    }
  }

  .headline {
    font-size: 3.5rem;
    line-height: 1.15;
    position: absolute;
    left: 1rem;
    top: 3rem;
  }
}


@media screen and (min-width: 0px) and (max-width: 320px) { 
  .slider-container {
    max-width: 220px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) { 
  .slider-container {
    max-width: 300px;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .image-container {
    max-width: 70vw;
    width: 70vw;
  }

  .date-input {
    max-width: 5rem;
  }

  .section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .slider-container {
    display: flex;
    overflow-x: auto;
    max-width: 50vw;
    min-height: 36rem;

    &.left {
      margin-left: 0;
      margin-right: 50vw;
    }
  }
}
