<div class="icon-header">
  <kinam-simple-logo></kinam-simple-logo>
  <img src="/assets/menu.svg" class="menu-icon" (click)="toggleMenu()" />
</div>

<h1>Playbook</h1>


<h2>Complex button</h2>

<div class="columns flex-center">
  <div class="column is-6">
    <kinam-readings></kinam-readings>
  </div>
</div>
<hr>

<h2>Simple button</h2>

<div class="columns flex-center">
  <div class="column is-3">
    <div class="btn btn--primary">
      Tzol'kin
    </div>
  </div>
</div>

<hr>

<h2>Newsletter</h2>

<kinam-newsletter></kinam-newsletter>

<hr>

<h2>Divider</h2>


<div class="columns">
  <div class="column is-2"></div>
  <div class="column is-8">
    <div class="columns">
      <div class="column column__divider">
        <div class="stripe"></div>
      </div>
      <div class="column column__divider text-flex-start">
        <span class="nowrap">behind the product</span>
      </div>
    </div>
  </div>
  <div class="column is-2"></div>
</div>

<hr>

<h2>Gradient Image</h2>

<div class="columns flex-center">
  <div class="column">
    <div class="gradient__container">
      <div class="gradient__image"></div>
      <div class="gradient__overlay"></div>
    </div>
  </div>
</div>

<kinam-menu></kinam-menu>