<div class="main" #main>
  <style>
    .wall__bg {
      background-image: url("/assets/about-bg.png");
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .gradient {
      height: 100%;
    }

    p {
      font-size: 13px;
    }

    img {
      border-radius: 50%;
    }

    .po {

      font-size: 110px;
      color: white;
      line-height: .8;
      text-align: right;
      padding-right: 50px;
    }

    .pof {
      font-size: 50px;
      line-height: .9;
      color: white;
    }

    .poff {
      font-size: 25px;
      line-height: .9;
      color: white;
    }

    .circle {
      height: 80px;
      width: 80px;
      background-color: transparent;
      color: white;
      border-radius: 80%;
      font-weight: bold;
      border: solid 1px;
    }

    .circle2 {
      height: 80px;
      width: 80px;
      background-color: transparent;
      color: white;
      border-radius: 80%;
      border: solid;
      margin-left: 18px;
    }

    .pc {
      padding-left: 18px;
      padding-top: 24px;
      font-size: 20px;
      line-height: .9;

    }

    .crcle {
      padding-top: 114px;

    }

    .submenu {
      padding-left: 44%;
      color: white;
    }

    .submenu2 {
      padding-left: 100px;
      color: white;
    }

    @media (min-width: 0) and (max-width: 768px) {
      .circle {
        height: 50px;
        width: 50px;
      }

      .pc {
        padding-left: unset;
        padding-top: 11px;
        font-size: 18px;
        line-height: 1;
      }

      .inline-logos {
        float: left;
      }

      .logos {
        margin: 0 1rem;
      }
    }
  </style>
  <div class="gradient" style="margin-top: -160px;">
    <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div>
    <br><br>
    <section class="section responsive links" style="margin-top: 200px;">

      <a routerLink="/about1" routerLinkActive="active" class="submenu"> Purpose</a> <a routerLinkActive="active"
        routerLink="/about2" class="submenu2">The journey </a> <a routerLinkActive="active" routerLink="/about"
        class="submenu2"> Team</a>
      <a routerLink="/about3" class="submenu2">Partner </a>


      <div class="columns is-gapless" style="margin-top: 50px;">
        <div class="column is-5 about-heading" style="margin-top: -50px;">
          <h1 class="po">About Kinam</h1>

        </div>
        <div class="column is-2 ">
          <div class="pof">Our Partners</div>
          <div class="poff"> Our trusted supporters</div>
        </div>
        <div class="column is-4 partners-content">
          <p>
            KINAM’s 4 co-founders Oshko, Nicolas, Christopher and Orhan met in the QUARTERS Co-Living Space in Berlin.
            They
            booked flights to Guatemala almost immediately after first discussing their idea to shoot material for the
            crowdfunding video, record jungle sounds for songs, and establish supplier relationships overseas. Upon
            returning
            to Berlin, they recruited 30 experts from their networks in Germany, Sweden, Guatemala, Israel and the U.S.
            With
            a
            diverse set of skills and expertise, the team is comprised of a Maya archeologist, textile engineers,
            product
            developers, designers, marketing specialists, music producers, and venture builders, working remotely and
            unpaid
            until the end of the crowdfunding campaign.</p>
          <br>

          <div class="columns logos mobile-logos">
            <div class="column is-2 inline-logos">

              <div class="circle">
                <div class="pc">
                  logo 01
                </div>
              </div>
            </div>
            <div class="column is-2 inline-logos">

              <div class="circle">
                <div class="pc">
                  logo 02
                </div>
              </div>
            </div>
            <div class="column is-2 inline-logos">

              <div class="circle">
                <div class="pc">
                  logo 03
                </div>
              </div>
            </div>
            <div class="column is-2 inline-logos">

              <div class="circle">
                <div class="pc">
                  logo 04
                </div>
              </div>
            </div>


          </div>

        </div>

        <!-- social icons column -->
        <div class="column is-1 social-icons">
          <kinam-social-icons></kinam-social-icons>
        </div>
      </div>

      <div class="columns is-gapless logos desktop-logos">
          <div class="column is-5"></div>
          <div class="column inline-logos">
  
            <div class="circle">
              <div class="pc">
                logo 01
              </div>
            </div>
          </div>
          <div class="column inline-logos">
  
            <div class="circle">
              <div class="pc">
                logo 02
              </div>
            </div>
          </div>
          <div class="column inline-logos">
  
            <div class="circle">
              <div class="pc">
                logo 03
              </div>
            </div>
          </div>
          <div class="column inline-logos">
  
            <div class="circle">
              <div class="pc">
                logo 04
              </div>
            </div>
          </div>
          <div class="column is-1"></div>
  
  
        </div>
    </section>






  </div>
</div>