<div class="main" #main>
  <style>
    .wall__bg {
      background-image: url("/assets/about-bg.png");
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .gradient {
      height: 100%;
    }

    p {
      font-size: 13px;
    }

    .po {

      font-size: 110px;
      color: white;
      line-height: .8;
      text-align: right;
      padding-right: 50px;
    }

    .pof {
      font-size: 60px;
      line-height: .9;
      color: white;
    }

    .poff {
      font-size: 30px;
      line-height: .9;
      color: white;
    }

    .submenu {
      padding-left: 42%;
      color: white;
    }

    .submenu2 {
      padding-left: 100px;
      color: white;
    }
  </style>
  <div class="gradient" style="margin-top: -160px;">
    <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div>
    <br><br>
    <section class="section responsive links" style="margin-top: 200px;">
      <!-- <a routerLink="/about1" routerLinkActive="active" class="submenu"> Purpose</a> <a routerLinkActive="active"
        routerLink="/about2" class="submenu2">The journey </a> <a routerLinkActive="active" routerLink="/about"
        class="submenu2"> Team</a>
      <a routerLink="/about3" class="submenu2">Partner </a> -->


      <div class="columns is-gapless" style="margin-top: 50px;">
        <div class="column is-5 about-heading" style="margin-top: -50px;">

          <h1 class="po">About Kinam</h1>

        </div>
        <!-- <div class="column is-3 ">
          <div class="pof">Kinam Team</div>
          <div class="poff">The power of co-living</div><br>
          <p>
            KINAM’s 4 co-founders Oshko, Nicolas, Christopher and Orhan met in the QUARTERS Co-Living Space in Berlin.
            They booked flights to Guatemala almost immediately after first discussing their idea to shoot material for
            the crowdfunding video, record jungle sounds for songs, and establish supplier relationships overseas. Upon
            returning to Berlin, they recruited 30 experts from their networks in Germany, Sweden, Guatemala, Israel and
            the U.S. With a diverse set of skills and expertise, the team is comprised of a Maya archeologist, textile
            engineers, product developers, designers, marketing specialists, music producers, and venture builders,
            working remotely and unpaid until the end of the crowdfunding campaign.</p>

        </div>
        <div class="column is-3 ">


        </div> -->
        <div class="column is-4 ">
            <!-- <div class="gradient gradient__container"></div> -->
            <div>
              <kinam-product-slider></kinam-product-slider>
       </div>
            <mat-tab-group>
              <mat-tab label="About1">
                <p>
                  Many years ago,where the only things that existed were the calm,quiet sea,the sky and "Huracan",the heart of
                  the sky (the almighty collective spiritual energy).Twin Tepeau and Gucumatz came during the darkness of
                  night and wish them the spoken word.The creator and the "shaper" were mediating on the sea,surrounded by
                  clarity.The decided over timethat they would create Man,so they combined their words and thoughts and it was
                  declared by Huracan during the darkness,that life would be menifested so the trees and plants and land,
                  evertythong that would help sustain life for this new creation occured in their thoughts and manifested into
                  the world..They declared that Dawn should exist for life to form , and the day and light were created.
                </p>
                <img src="assets/models/kaqchikel.png">
              </mat-tab>
              <mat-tab label="about2">
                <p>hlellllll</p>
              </mat-tab>
              <mat-tab label="about3">
                  <p>hlellllll</p>
                </mat-tab>
                <mat-tab label="about4">
                    <p>hlellllll</p>
                  </mat-tab>
            </mat-tab-group>
          </div>

          <div class="column is-1 ">

          </div>
        <!-- social icons column -->
        <div class="column social-icons">
          <kinam-social-icons></kinam-social-icons>
        </div>
      </div>
    </section>

    <section>
        <div class="column is-1 social-icons" style="width: 100%">
            <kinam-page-footer></kinam-page-footer>
          </div>
      <!-- <kinam-page-footer></kinam-page-footer> -->
    </section>


  </div>


</div>