<div class="main" #main>
  <style>
    .wall__bg {
      background-image: url("/assets/about-bg.png");
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .gradient {
      height: 100%;
    }

    p {
      font-size: 13px;
    }

    .po {

      font-size: 110px;
      color: white;
      line-height: 1;
      text-align: right;
      padding-right: 50px;
      font-family: Century Gothic, sans-serif;
    }

    .pof {
      font-size: 60px;
      line-height: .9;
      color: white;
    }

    .poff {
      font-size: 30px;
      line-height: .9;
      color: white;
    }

    .submenu {
      padding-left: 42%;
      color: white;
    }

    .submenu2 {
      padding-left: 100px;
      color: white;
    }
  </style>
  <div class="gradient" style="margin-top: -160px;">
    <!-- <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div> -->
    <br><br>
    <section class="section responsive links" style="margin-top: 200px;">
      <!-- <a routerLink="/about1" routerLinkActive="active" class="submenu"> Purpose</a> <a routerLinkActive="active"
        routerLink="/about2" class="submenu2">The journey </a> <a routerLinkActive="active" routerLink="/about"
        class="submenu2"> Team</a>
      <a routerLink="/about3" class="submenu2">Partner </a> -->


      <div class="columns is-gapless" style="margin-top: 50px;">
        <div class="column is-5 about-heading" style="margin-top: -50px;">

          <h1 class="po" >About <br> KINAM</h1>

        </div>
        <!-- <div class="column is-3 ">
          <div class="pof">Kinam Team</div>
          <div class="poff">The power of co-living</div><br>
          <p>
            KINAM’s 4 co-founders Oshko, Nicolas, Christopher and Orhan met in the QUARTERS Co-Living Space in Berlin.
            They booked flights to Guatemala almost immediately after first discussing their idea to shoot material for
            the crowdfunding video, record jungle sounds for songs, and establish supplier relationships overseas. Upon
            returning to Berlin, they recruited 30 experts from their networks in Germany, Sweden, Guatemala, Israel and
            the U.S. With a diverse set of skills and expertise, the team is comprised of a Maya archeologist, textile
            engineers, product developers, designers, marketing specialists, music producers, and venture builders,
            working remotely and unpaid until the end of the crowdfunding campaign.</p>

        </div>
        <div class="column is-3 ">


        </div> -->
        <div class="column is-5 " style="overflow: hidden">
          <!-- <div class="gradient gradient__container"></div> -->
          <div>
            <kinam-product-slider></kinam-product-slider>
          </div>
          <mat-tab-group style="padding-top:3rem; height: 100%; width: auto">
            <mat-tab label="Purpose">
              <div class="columns">
                <div class="column">
                  <h1 style="text-align: left; line-height: 1; margin-right: 0; margin-top: 1rem"> Purpose</h1>
                  <h2 style="text-align: left; margin-right: 0; margin-top: 1rem">Planting The Seed</h2>
                  <p>
                    <!-- KINAM’s mission is to re-define the consumption of fashion and create high quality and long lasting garments alongside Maya-descendant Artisans from Guatemala. We strive to empower the indogenius Maya descendants by creating jobs that provide stable incomes for their families and communities. -->
                    KINAM’s mission is to re-define the consumption of fashion and create high quality and long lasting
                    garments alongside Maya-descendant Artisans from Guatemala. We strive to empower the indogenius Maya
                    descendants by creating jobs that provide stable incomes for their families and communities.
                    <br>
                    KINAM garments make a true statement, by celebrating Maya traditions through artful textiles and by
                    providing opportunities for Maya descendants to build a better future. Your unique, high-quality
                    jacket tells you a story of the Maya culture in a modern way. It is our mission to help the Mayas
                    rediscover their ancient heritage and reconnect to their roots, while at the same time raising
                    awareness for
                    their beautiful art around the world.
                    <br>
                    KINAM wants to bring the joy of the Mayan culture to the world. Our business model will help the
                    Mayans regain control of their destiny by providing indigenous tribes opportunities for a better
                    future, through small-business ownership and education programs that will strengthen local
                    communities. We want our jackets to be a symbol for conscious consumption and sustainable
                    production, a positive alternative to today’s fast-fashion trends. KINAM wants to serve as a role
                    model for future positive social impact organizations by sharing best practices and training young
                    entrepreneurs. Thereby, we hope to kick off an exponential improvement process, not only for the
                    Mayas but for the fashion industry as a whole.
                  </p>
                  <br>
                  <b>Phase 1 (month 1-6 after crowdfunding campaign)</b>
                  <ul>
                    <li>Setup of KINAM legal entities in Guatemala & Germany</li>
                    <li>Production of textiles in GT with Maya artisan co-operatives</li>
                    <li>Production, personalization, packing and delivery of first drop of KINAM Jackets</li>
                    <li>Extension of KINAM Maya calendar on website (content & functionality)</li>
                    <li>Setup of KINAM non-profit organization (NGO) in Guatemala</li>
                    <li>Beginning of phase 1 KINAM social projects</li>
                    <li>Production of KINAM music album</li>
                  </ul>
                  <br>
                  <b>Phase 2 (month 6-12 after crowdfunding campaign)</b>
                  <ul>
                    <li>KINAM product portfolio expansion</li>
                    <li>KINAM Ecommerce development</li>
                    <li>Setup of Volunteer Program </li>
                    <li>Setup of KINAM locations at Lake Atitlan</li>
                  </ul>
                </div>
                <div class="column">
                  <img src="assets/About/Purpose_01.png" style="padding-top:2rem">
                  <img src="assets/About/Purpose_02.png" style="padding-top:1rem">
                </div>
              </div>


            </mat-tab>
            <mat-tab label="The Journey">
              <div class="columns">
                <div class="column">
                  <h1 style="text-align: left; line-height: 1; margin-right: 0; margin-top: 1rem"> The Journey</h1>
                  <h2 style="text-align: left; margin-right: 0; margin-top: 1rem">Growing Stronger Together</h2>
                  <p >
                    <!-- KINAM’s mission is to re-define the consumption of fashion and create high quality and long lasting
                    garments alongside Maya-descendant Artisans from Guatemala. We strive to empower the indogenius Maya
                    descendants by creating jobs that provide stable incomes for their families and communities. -->
                    The idea for KINAM was born in 2013 in Guatemala as a way to celebrate the ancient Maya traditions
                    and create a steady income to aid impoverished indigenous tribes. After moving to Berlin in 2017,
                    Oshko Mejia met Nicolas Reitmeier at a QUARTERS Co-Living party and shared goals and visions for the future. Nicolas
                    dreamt of founding a music label and media production company with childhood friends Christopher,
                    Orhan and Patrick. Oshko loved the idea and proposed to join forces to create KINAM.
                    <br>
                    Soon after, the four co-founders traveled to Guatemala to shoot content for the crowdfunding video,
                    to record live audio from the jungle for an electronic music album inspired by the Maya culture, and
                    to find a product for their brand. They decided on hand-woven jackets, produced in collaboration
                    between Maya descendant artisans and Berlin product experts, to tell the stories of the Mayas in a
                    sleek, stylish way. In the past 8 months, the team has grown to more than 20 members across 7
                    countries, creating a global team thrilled to bring the Maya textile art to the world.
                  </p>
                </div>
                <div class="column">
                    <img src="assets/About/The_Journey_Portrait_01.png" style="padding-top:2rem">
                  <img src="assets/About/The_Journey_Portrait02.png" style="padding-top:1rem">
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Team">
              <div class="columns">
                <div class="column">
                  <h1 style="text-align: left; line-height: 1; margin-right: 0; margin-top: 1rem"> Team</h1>
                  <h2 style="text-align: left; margin-right: 0; margin-top: 1rem">The Power of Co-Living</h2>
                  <p>
                    <!-- KINAM’s mission is to re-define the consumption of fashion and create high quality and long lasting
                    garments alongside Maya-descendant Artisans from Guatemala. We strive to empower the indogenius Maya
                    descendants by creating jobs that provide stable incomes for their families and communities. -->
                    KINAM’s 4 co-founders Oshko, Nicolas, Christopher and Orhan met in the QUARTERS Co-Living Space in
                    Berlin. They booked flights to Guatemala almost immediately after first discussing the idea to shoot
                    material for a crowdfunding video, to record jungle sounds for songs, and to establish supplier
                    relationships overseas. Upon returning to Berlin, they recruited more than 20 experts from their
                    networks in Germany, Sweden, Guatemala, Israel and the U.S. With a diverse set of skills and
                    expertise, the team is comprised of a Maya archeologist, textile engineers, product developers,
                    designers, marketing specialists, music producers, and venture builders, working remotely and unpaid
                    until the end of the crowdfunding campaign.
                    <br>
                    <br>

                    <b> Archeological Projects & Maya Culture</b>
                    <br>Douglas Quinonez (10+ years in maya archeology research in Guatemala)
                    <br>Achim Schnulze (7+ years in archeological maya research in Guatemala)
                    <br>
                    <br>

                    <b>Product Design</b>
                    <br>Vimal Panalickal (10+ years in high fashion design & textile engineering)
                    <br>Martina Davies (25+ years in mass production of fashionable garments)
                    <br>
                    <br>

                    <b>Operations & Supply Chain</b>
                    <br>Francisco Arriaza (15+ years in international supply chain management)
                    <br>Alejandro Mejia (13+ years in construction management)
                    <br>
                    <br>

                    <b>Web & Product Design</b>
                    <br>Yoshi Kame (5+ years in graphic-, light-, stage- & brand design)
                    <br>Tom Love (5+ years in graphic-, light-, stage- & brand design)
                    <br>Jose De Paz (2+ years in graphic & media design)
                    <br>
                    <br>

                    <b>Marketing & PR</b>
                    <br>Julia Schöniger (4+ years in online marketing management)
                    <br>Nina Stach (5+ years in brand management & social media design)
                    <br>
                    <br>

                    <b>Video Production</b>
                    <br>Orhan Kaygizis (3+ years in visual media production)
                    <br>Artur Nastir (5+ years in professional & urban photography)
                    <br>Stefania Boesche (5+ years in visual media production)
                    <br>
                    <br>

                    <b>Tech Development</b>
                    <br>Michael Gerullis (5+ years in software development)
                    <br>Manal Malik (2+ years in software development)
                    <br>
                    <br>

                    <b>Social Projects</b>
                    <br>Tobias Winter (5+ years in international social project development)
                    <br>Douglas Quinonez (10+ years international social project development)
                    <br>Miguel Messner (2+ years in project sourcing and business development)
                    <br>Katarina Messner (2+ years in international social project development)
                    <br>
                    <br>

                    <b>KINAM Music</b>
                    <br>Christopher Koziol (15+ years in music production & sound design)
                    <br>Pablo Sorribes (8+ years in music production & sound design)
                    <br>Carlos Hahmman (10+ years in music production & sound design)
                    <br>Tobias Koziol (10+ years in music production & sound design)
                    <br>Patrick de Haan (5+ years in business development & management)
                    <br>
                    <br>

                    <b>Co-founder & Head of Video Production</b>
                    <br>Orhan Kaygisiz (3+ years in visual media production)
                    <br>
                    <br>

                    <b>Co-founder & Head of Music Production</b>
                    <br>Christopher Koziol (15+ years in music production & sound design)
                    <br>
                    <br>

                    <b>Co-founder, Angel Investor & Co-CEO</b>
                    <br>Nicolas Reitmeier (5+ years strategy consulting & startup development)
                    <br>
                    <br>

                    <b>Founder & Co-CEO</b>
                    <br>Oshko Mejia Spiegeler (5+ years in media production management)
                    <br>
                    <br>

                  </p>
                </div>
                <div class="column">
                    <img src="assets/About/The_Team_00.png" style="padding-top:2rem">
                    <img src="assets/About/The_Team_01.png" style="padding-top:1rem">
                    <img src="assets/About/The_Team_02.png" style="padding-top:2rem">
                    <img src="assets/About/The_Team_03.png" style="padding-top:1rem">
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Founders">
                <div class="columns">
                  <div class="column">
                    <h2 style="text-align: left; margin-right: 0; margin-top: 1rem; margin-bottom: 1rem"> The Founders of Kinam</h2>
                    <p>  
                      <b>Oshko Meija Spiegeler</b>
                      <br>Descendant from both Maya & German great grandparents, born and raised in Guatemala where he got
                      his
                      basic education. In 2009 he moved to Baton Rouge, Louisiana, USA, where he studied film and tv
                      production for 3 years and then moved back to Guatemala. In 2013 he traveled to Lake Atitlan and got
                      to know the communities of Maya-descendant Artisans from the lake and was astonished by the quality
                      of their garments and the dire living situations. The variety of products & colors showed him the
                      necessity to share this art with the world in order to help improve their quality of life.
                      <br>
                      <br>
  
                      <b>Nicolas Reitmeier</b>
                      <br>Born and raised in Stadtallendorf, an industrial town close to Marburg Germany, Nicolas went to
                      study business administration and innovation management in the U.S., China and Germany.
                      Subsequently, he worked 4 years in strategy consulting for PricewaterhouseCoopers in Frankfurt and
                      Berlin. During his professional career, Nicolas gained extensive experience while working with more
                      than 15 international corporate clients and a variety of startups on topics around business
                      strategy, innovation management, venture development and product marketing. After moving to Berlin
                      in 2017, he met Oshko Meija Spiegeler at QUARTERS Co-Living. Nicolas dreamt of founding a music
                      label and media production company with childhood friends Christopher, Orhan, and Patrick. Oshko
                      loved the idea, and proposed to join forces to create KINAM.
                      <br>
                      <br>
  
                      <b>Christopher Koziol</b>
                      <br>Born and raised in Stadtallendorf, an industrial town close to Marburg, Germany. Originating
                      from a
                      Polish-immigrant family, Christopher Koziol has had a passion for music since before he could walk
                      or talk. From beating on his first set of drums at age 1 to learning to play the piano at age 7, he
                      was already able to produce his own hip hop beats on his computer by the time he reached his teens.
                      From age 17 until today, he has worked in the same iron factory as his father, working day and night
                      shifts year-round melting iron for car engines at 1200 degrees Celsius. But even after a long day of
                      hard physical labor at the factory, his drive for music has pushed him to continue tirelessly
                      producing each and every day. Until 2017, he had virtually no exposure to electronic music. All of
                      that changed when childhood friend Nicolas Reitmeier, enamored by the electronic music scene in
                      Berlin, asked him to produce an electronic beat “just for fun”. After just 15 minutes of playing
                      around, Christopher’s talent was obvious. Together with the help of childhood friends Orhan Kaygisiz
                      and Patrick de Haan, they then decided to build a home studio and co-founded their own music label.
                      In spring of 2018, Christopher and Nicolas met Oshko Meija Spiegeler in the QUARTERS Co-Living Space
                      in Berlin, and decided to found KINAM
                      <br>
                      <br>
  
                      <b>Orhan Kaygısız</b>
                      <br>Born and raised in Stadtallendorf, an industrial town close to Marburg, Germany. Originating from a
                      Turkish-immigrant family, Orhan Kaygısız was fascinated by photography since his teenage years.
                      Despite numerous bone fractures caused by an inherent form of brittle-bone disease, he was always
                      known for carrying his camera equipment everywhere he went, to capture the special moments he had
                      with his family and friends. It was Orhan’s love for photography which made him start studying media
                      & communication at the university of Marburg. When Orhan was starting to build the foundations of
                      his own media production company, he met Oshko Meija Spiegeler through his childhood friends
                      Christopher Koziol & Nicolas Reitmeier in the QUARTERS Co-Living Space in Berlin and decided to
                      found KINAM.
  
                    </p>
                  </div>
                  <div class="column">
                      <img src="assets/About/The_Team_00.png" style="padding-top:2rem">
                      <img src="assets/About/The_Team_01.png" style="padding-top:1rem">
                      <img src="assets/About/The_Team_02.png" style="padding-top:2rem">
                      <img src="assets/About/The_Team_03.png" style="padding-top:1rem">
                  </div>
                </div>
              </mat-tab>
            <mat-tab label="Partners">
              <div class="columns">
                <div class="column">
                  <h1 style="text-align: left; line-height: 1; margin-right: 0; margin-top: 1rem"> Partners</h1>
                  <h2 style="text-align: left; margin-right: 0; margin-top: 1rem">Our Trusted Supporters</h2>
                  <p>
                    KINAM’s mission is to re-define the consumption of fashion and create high quality and long lasting
                    garments alongside Maya-descendant Artisans from Guatemala. We strive to empower the indogenius Maya
                    descendants by creating jobs that provide stable incomes for their families and communities.
                  </p>
                </div>
                <div class="column">
                  <img src="assets/models/kaqchikel.png" style="padding-top:1rem">
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Press">
              <div class="columns">
                <div class="column">
                  <h1 style="text-align: left; line-height: 1; margin-right: 0; margin-top: 1rem"> Press</h1>
                  <a href="assets/KINAM presskit.pdf" download="KINAMPresskit.pdf" style="font-weight:bold; text-decoration: underline; margin-top: 1rem">Download our press kit here</a><br>
  
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <!-- social icons column -->
        <div class="column social-icons">
          <kinam-social-icons></kinam-social-icons>
        </div>
      </div>
    </section>

    <section>
      <div class="column is-1 social-icons" style="width: 100%; padding-bottom: 5rem">
        <kinam-page-footer></kinam-page-footer>
      </div>
      <!-- <kinam-page-footer></kinam-page-footer> -->
    </section>


  </div>


</div>
