<div class="main" #main>
  <style>
    .wall__bg {
      background-image: url("/assets/about-bg.png");
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .gradient {
      height: 100%;
    }

    p {
      font-size: 13px;
    }

    .po {

      font-size: 110px;
      color: white;
      line-height: .9;
      text-align: right;
      padding-right: 50px;
    }

    .pof {
      font-size: 75px;
      line-height: .9;
      color: white;
    }

    .poff {
      font-size: 28px;
      font-family: Century Gothic;
      line-height: .9;
      color: white;
    }

    .submenu {
      padding-left: 44%;
      color: white;
    }

    .submenu2 {
      padding-left: 100px;
      color: white;
    }
  </style>
  <div class="gradient" style="margin-top: -160px;">
    <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div>
    <br><br>
    <section class="section responsive links" style="margin-top: 200px;">
      <a routerLink="/about1" routerLinkActive="active" class="submenu"> Purpose</a> <a routerLinkActive="active"
        routerLink="/about2" class="submenu2">The journey </a> <a routerLinkActive="active" routerLink="/about"
        class="submenu2"> Team</a>
      <a routerLink="/about3" class="submenu2">Partner </a>


      <div class="columns is-gapless" style="margin-top: 50px;">
        <div class="column is-5 about-heading" style="margin-top: -50px;">
          <h1 class="po">About Kinam</h1>

        </div>
        <div class="column is-3 ">
          <div class="pof">Our Journey</div>

          <div class="poff">Growing stronger together</div>
          <br>
          <p>
            The idea for KINAM was born in 2013 in Guatemala as a way to celebrate the ancient Maya traditions and
            create a steady income independent from tourism to aid impoverished indigenous tribes. After moving to
            Berlin in 2017, Oshko met Nicolas at a QUARTERS Co-Living party and shared goals and visions for the future.
            Nicolas dreamt of founding a music label and media production company with childhood friends Christopher and
            Orhan. Oshko loved the idea, and proposed to join forces to create KINAM.
            <br><br>
            Soon after, the four co-founders traveled to Guatemala to shoot content for the crowdfunding video, record
            live audio from the jungle for an electronic music album inspired by the Maya culture, and find a product
            for their brand. They decided on handwoven jackets, produced in collaboration between Maya descendant
            artisans and Berlin product experts, to tell the stories of the Mayas in a sleek, stylish way. In the past 8
            months, the team has grown to 30 members across 7 countries, creating a global, loving network thrilled to
            bring the Maya textile art to the world.
          </p>

        </div>
        <div class="column is-3 ">


        </div>

        <!-- social icons column -->
        <div class="column is-1 social-icons">
          <kinam-social-icons></kinam-social-icons>
        </div>
      </div>
    </section>





  </div>

</div>