<!--
  Section: Help rebuild Guatemala
 -->
<section class="section__hero" #main>
  <div class="gradient gradient__container">
    <div class="gradient gradient__image wall__bg" style="position: unset"></div>
    <div class="gradient gradient__overlay"></div>
  </div>

  <div class="section__hero__content flex-center container">
    <div class="columns">
      <div class="column is-6-fullhd section__hero__heading"><!-- <div class="column is-6-fullhd is-12-desktop section__hero__heading"> -->
        <div>
          <!-- <span>AGE</span><br>
         <span>OF THE</span> <br>
         <span class="section__hero__heading__bold">MAYA</span> -->
          <p>
            <span class="pre-heading"> AGE<br>
              OF THE<br>
            </span>
            <span class="section__hero__heading__bold">MAYA</span>
          </p>
        </div>
      </div>
      <div class="column" style="display: flex; flex-direction: column; justify-content: flex-end;">
        <div class="section__hero__interaction">
          <div class="interaction-container">
           <a href="https://www.youtube.com/watch?v=bKoiJi4pJOU" target="_blank"> <div class="watch">WATCH

              <img alt="Video Play Button" src="assets/play_btn.svg">
            </div></a>
            <div class="divider">
              <div class="divider__stripe"></div>
            </div>
            <div class="btn btn--primary"><a routerLink="the-jacket"> Participate </a></div>
          </div>
        </div>
        <div class="columns hero-text">
          <div class="column section__hero__text">
            <p>
              Discover and preserve the secrets of the Guatemalan jungle to <br>
              help the indigenous Mayan communities build a better future.<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="discover-more">
      <div>
        <div class="scroll-label">
          discover more <br>
          <a href="/page.html#jacket"><i class="fal fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: The Jacket -->
<section class="section__jacket responsive" id="jacket">
  <!-- <div class="jacket-img-grid">
    <div class="jacket-img-grid__img jacket-img-grid__img-1" #jacketGrid></div>
    <div class="jacket-img-grid__img jacket-img-grid__img-2" #jacketGrid></div>
    <div class="jacket-img-grid__img jacket-img-grid__img-3" #jacketGrid></div>
  </div> -->
  <div class="gradient gradient--small gradient__container">
      <div class="gradient gradient--small gradient__image section__jacket__img" #jacketImg></div>
    </div>
  <div class="columns">
    <div class="column is-6">
      <h1 class="section__jacket__header">
        THE<br>
        JACKET
      </h1>
      <div class="interaction-bar jacket-bar">
        <div class="interaction-bar__item">
          <img src="/assets/icons/handwoven.png" width="30%">
          <div class="icon-label" >
            Hand-woven
          </div>
        </div>
        <div class="interaction-bar__item">
          <img src="/assets/icons/personalized.png" width="30%">
          <div class="icon-label" >
            Personalized
          </div>
        </div>
        <div class="interaction-bar__item">
          <img src="/assets/icons/premiumMaterials.png" width="25%">
          <div class="icon-label">
            Premium materials
          </div>
        </div>
      </div>
    </div>
    <div class="column order-now__container">
      <div class="rows">
        <div class="row order-now__heading">
          <span>Unique jackets</span><br>
          <span>for a good cause</span><br>
        </div>
        <div class="row order-now__text">
          <p style="font-size: 15px">
            Using hand-woven textiles by Maya-descendant artisans from Guatemala and <br>
            produced in EU with collaboration of product development experts from Berlin.
          </p>
          <div class="order-now__links">
            <br>
            <!-- <a href="/the-jacket" routerLink="/the-jacket" style="text-decoration: underline">
              Learn more
            </a> -->
          </div>
        </div>
        <div>
            <a routerLink="the-jacket">
              <div class="btn--mayans" style="margin: 1rem 13rem 0 0.5rem">
                <div class="hover-container">
                  <div class="outer">
                    <div class="inner overlay" style="width: 13rem; height:2.3rem"></div>
                    <div class="inner outline" style="width: 13rem; height:2.3rem"></div>
                    <div class="behind fill" style="width: 13rem; height:2.3rem">
                      <div class="mayan-reading__text">
                        <span style="font-size: 0.9rem; width: 12rem">Discover our jackets</span>
                        <span style="width: 0.1rem"><i class="fal fa-chevron-right is-pulled-left "
                            style="font-size: 0.8rem; padding-top: 3px"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
      </div>
    </div>
  </div>
</section>
<!--  Section: The Mayans -->
<div class="gradient gradient--small gradient__container">
  <div class="gradient gradient--small gradient__image section__mayans__img" #mayansImg>
    <!-- <img src="/assets/testImage.png" class="responsive" style="width:100%; height:auto">  -->
  </div>
</div>
<section class="section responsive">
  <section class="section__mayans" id="mayans">
    <div class="columns is-gapless">
      <div class="column is-5">
        <h1 class="section-header">
          THE <br>
          MAYAS
        </h1>
      </div>
      <div class="column is-1"></div>
      <div class="column is-6">
        <!-- <div class="meet-the-mayans">
         MEET THE MAYANS
         <i class="fal fa-chevron-right"></i>
       </div> -->
        <div class="content-block" style="margin-top: 2rem;">
          <div class="content-block__headline">
            <p>
              <span style="font-weight: bold; font-family:freight-sans-pro">An ancient</span><br>
              <span style="font-weight: bold; font-family:freight-sans-pro">civilization</span><br>
            </p>
          </div>
          <div class="content-block__body">
            <p class="mayan-text">
                In the jungles of Guatemala the ancient civilization of the Mayas with its beautiful <br>
                art, architecture and astrology is waiting to be shared with the world.
                <br>
            </p>
            <div>
              <a routerLink="the-mayans">
                <div class="btn--mayans" style="margin: 2rem 13rem 0 0.5rem">
                  <div class="hover-container">
                    <div class="outer">
                      <div class="inner overlay" style="width: 13rem; height:2.3rem"></div>
                      <div class="inner outline" style="width: 13rem; height:2.3rem"></div>
                      <div class="behind fill" style="width: 13rem; height:2.3rem">
                        <div class="mayan-reading__text">
                          <span style="font-size: 0.9rem; width: 12rem">Discover the mayas</span>
                          <span style="width: 0.1rem"><i class="fal fa-chevron-right is-pulled-left "
                              style="font-size: 0.8rem; padding-top: 3px"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- <div class="order-now__links">
              <a href="/the-mayans" routerLink="/the-mayans" style="text-decoration: underline">Learn more </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!--
 Section: Social Projects
-->


    <div class="gradient gradient--small gradient__container">
        <div class="gradient gradient--small gradient__image section__social__img" #projectsImg></div>
      </div>

<section class="section responsive">
  <div>
    <section class="section__social" id="social-projects">
      <div class="columns is-gapless section__social" style="margin-bottom: 8rem">
        <div class="column section__social__header is-6">
          <h1 class="section-header__projects">
            SOCIAL<br>
            PROJECTS
          </h1>
          <div class="interaction-bar social-bar" style="transform: translateY(-120px); margin:4rem 2rem 0 7rem">
            <div class="interaction-bar__item">
              <img src="/assets/icons/Soccer_Ball.png" width="42vw">
              <div class="icon-label" style="font-weight: 100">
                Education Through <br>
                Football
              </div>
            </div>
            <div class="interaction-bar__item">
              <img src="/assets/icons/art-icon.png" width="42vw">
              <div class="icon-label" style="font-weight: 100">
                Unveiling Maya <br>
                Art
              </div>
            </div>
            <div class="interaction-bar__item">
              <img src="/assets/icons/City-Archeology-icon.png" width="42vw">
              <div class="icon-label" style="font-weight: 100">
                Maya Archeology

              </div>
            </div>
          </div>
        </div>
        <div class="content-block" style="margin-top: 3rem;">


          <div class="content-block__headline"> The core of KINAM </div>
          <div class="content-block__body">
            <p>
              We aim to build pride and appreciation for the Maya culture amongst younger <br>
            generations and equip them with the necessary tools for future success.</p>
            <div>
                <a routerLink="social-projects">
                  <div class="btn--mayans" style="margin: 2rem 13rem 0 0.5rem">
                    <div class="hover-container">
                      <div class="outer">
                        <div class="inner overlay" style="width: 15rem; height:2.3rem"></div>
                        <div class="inner outline" style="width: 15rem; height:2.3rem"></div>
                        <div class="behind fill" style="width: 15rem; height:2.3rem">
                          <div class="mayan-reading__text">
                            <span style="font-size: 0.9rem; width: 12rem">Discover social projects</span>
                            <span style="width: 0.1rem"><i class="fal fa-chevron-right is-pulled-left "
                                style="font-size: 0.8rem; padding-top: 3px"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<!--
   Section: The Music
 -->
 <div class="gradient gradient--small gradient__container">
    <div class="gradient gradient--small gradient__image section__music__img" #projectsImg></div>
  </div>
<section class="section responsive">
  <div>
    <section class="section__social" id="the music">
        
      <div class="columns is-gapless section__social" style="margin-bottom: 7rem">
        <div class="column section__music__header is-6">
          <h1 class="section-header__music">
            THE<br>
            MUSIC
          </h1>
        </div>
        <div class="content-block" style="margin-top: 3rem">


          <div class="content-block__headline"> Stories Told by Sound</div>
          <div class="content-block__body">
            Immerse into the Maya world with music based on actual legends <br> 
            described in
            the Mayans sacred scripture, the "Popol Vuh".
            <div class="order-now__links">
              <br>
              <!-- <a href="#" routerLink="/music" style="text-decoration: underline">
                Learn more
              </a> -->
            </div>
          </div>
          <div>
            <a routerLink="music">
              <div class="btn--mayans" style="margin: 1rem 13rem 0 0.5rem">
                <div class="hover-container">
                  <div class="outer">
                    <div class="inner overlay" style="width: 13rem; height:2rem"></div>
                    <div class="inner outline" style="width: 13rem; height:2rem"></div>
                    <div class="behind fill" style="width: 13rem; height:2rem">
                      <div class="mayan-reading__text">
                        <span style="font-size: 0.9rem; width: 12rem">Explore the sound</span>
                        <span style="width: 0.1rem"><i class="fal fa-chevron-right is-pulled-left "
                            style="font-size: 0.8rem; padding-top: 3px"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- OUR STORY -->
<div class="gradient gradient--small gradient__container">
  <div class="gradient gradient--small gradient__image section__story__img" #mayansImg></div>
</div>
<section class="section responsive">
  <section class="section__mayans" id="ourStory">
    <div class="columns is-gapless">
      <div class="column is-6">
        <h1 class="section-header">
          THE <br>
          JOURNEY
        </h1>
       
      </div>
      <div class="column is-6">
        <div class="content-block" style="margin-top: 2rem;">
          <div class="content-block__headline">
            <p>
              <span style="font-weight: bold; font-family:freight-sans-pro"> Driven by passion</span><br>
            </p>
          </div>
          <div class="content-block__body">
            We are creating a sustainable social brand that acts as a role model for conscious consumption
            and brings the beauty of the Maya culture to the world.
            <br>
            <!-- <div class="order-now__links">
              <a href="/the-mayans" routerLink="/the-mayans">Learn more </a>
            </div> -->
            <div>
                <a routerLink="/about">
                  <div class="btn--mayans btn--projects">
                    <div class="hover-container">
                      <div class="outer">
                        <div class="inner overlay" style="width: 13rem; height:2.3rem"></div>
                        <div class="inner outline" style="width: 13rem; height:2.3rem"></div>
                        <div class="behind fill" style="width: 13rem; height:2.3rem">
                          <div class="mayan-reading__text is-pulled-right">
                            <span>Discover the journey</span>
                            <i class="fal fa-chevron-right is-pulled-right" style="font-size: 20px"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!--
   Section: Participate
 -->
<div class="gradient gradient--small gradient__container">
  <div class="gradient gradient--small gradient__image section__participate__img" #mayansImg></div>
</div>
<section class="section responsive">
 
    <!-- <div class="columns">
      <div class="column is-12"> -->
        <div class="row">
            <h1 class="section-header participate-header">
                PARTICIPATE
              </h1>
        </div>
        <div class="row">
          <a href="https://www.indiegogo.com/projects/--39380/coming_soon/x/21899745" target="_blank">
        <div class="hover-container participate-btn">
          <div class="outer" style="justify-content: center">
            <div class="inner overlay participate--btn" style="width: 26rem; height:3rem"></div>
            <div class="inner outline participate--btn" style="width: 26rem; height:3rem"></div>
            <div class="behind fill participate--btn" style="width: 26rem; height:3rem">
              <div class="order-now__content">
                <div class="indiegogo__container" style="text-align:center">
                  Support our
                  <a class="indiegogo__link" href="https://www.indiegogo.com/projects/--39380/coming_soon/x/21899745" target="_blank">INDIEGOGO</a> campaign
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>
      <!-- </div>
      </div> -->
  </section>



<!--
   Section: Footer
 -->
<div class="line" style="padding-bottom: 1rem"></div>
<section class="section section__footer">
  <div class="columns">
    <div class="column is-3" style="display: flex; justify-content: center; align-items: center; padding-bottom:15rem">
      <img src="assets/kinam_logo_white_website_white.svg" width="200" alt="Logo">
    </div>
    <!-- 
   <div class="column">
     <a href="mailto:nick@kinam13.com">nick@kinam13.com</a>
     <br>
     <a href="tel:+4916096803437">+49 160 96803437</a>
   </div>

   <div class="column">
     Stromstraße 36
     <br>
     Berlin, Germany
   </div> -->
    <div class="column">
      <div class="row" style="padding-bottom: 1rem; padding-top: 2rem">
        <div class="order-now__links">
          <a href="/Home" routerLink="/Home" style="font-size: 10px; font-weight:lighter">Home </a>
        </div>
      </div>
      <div class="row" style="padding-bottom: 1rem">
        <div class="order-now__links">
          <a href="/the-jacket" routerLink="/the-jacket" style="font-size: 10px; font-weight:lighter">The Jackets </a>
        </div>
      </div>
      <div class="row" style="padding-bottom: 1rem">
        <div class="order-now__links">
          <a href="/the-mayans" routerLink="/the-mayans" style="font-size: 10px; font-weight:lighter">The Mayans </a>
        </div>
      </div>
      <div class="row" style="padding-bottom: 1rem">
        <div class="order-now__links">
          <a href="/social-projects" routerLink="/social-projects" style="font-size: 10px; font-weight:lighter">Social
            Projects </a>
        </div>
      </div>
      <div class="row" style="padding-bottom: 1rem">
        <div class="order-now__links">
          <a href="/music" routerLink="/music" style="font-size: 10px; font-weight:lighter"> The Music </a>
        </div>
      </div>
      <div class="row" style="padding-bottom: 1rem">
        <div class="order-now__links">
          <a href="#ourStory" routerLink="/our-story" style="font-size: 10px; font-weight:lighter"> The Journey </a>
        </div>
      </div>
      <div class="row">
        <div class="order-now__links">
          <a href="/" routerLink="/participate" style="font-size: 10px; font-weight:lighter"> Participate </a>
        </div>
      </div>
    </div>

    <!-- <div class="column-is-6"></div> -->

    <div class="column is-pulled-left" style="padding-bottom: 1rem; padding-top: 2rem">
      <!-- <div class="row"> -->
      <div class=" social-links is-pulled-left">
        <span class=" social-links__link social-links__link--facebook" style="padding-right: 30px; font-size: 20px">
          <i class="fab fa-facebook-square"></i>
        </span>
        <span class=" social-links__link social-links__link--instagram" style="padding-right: 30px; font-size: 20px">
          <a href="https://www.instagram.com/kinambrand/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </span>
        <span class="social-links__link social-links__link--youtube" style="padding-right: 120px; font-size: 20px">
          <i class="fab fa-youtube"></i>
        </span><br>
        <div class="row">
          <div class="column is-pulled-left" style="justify-content: left; padding-right: 2rem ">
            <p style="font-size: 10px; font-weight:lighter; text-align: left">
              info@kinam13.com <br>
              +49 178 8597566
            </p>
          </div>
          <div class="column is-pulled-right">
            <p style="font-size: 10px; font-weight:lighter; text-align: left">
              Stromstrasse 36, 10551 <br>
              Berlin, Germany.
            </p>
          </div>
        </div>

        <!-- </div> -->

      </div>

    </div>
  </div>
</section>

<kinam-menu></kinam-menu>