:host {
  color: white;
  position: relative;
  display: block;
}

.column {
  position: relative;
}

.section-header {
  font-size: 105px;
  font-weight: bolder;
  text-align: right;
  line-height: 1.1;
  position: relative;
  padding-right: 2rem;
  transform: translateY(-115px);
}

.btn--mayans {
  transform: translateY(-120px);
}

a {
  color: inherit;
}

.spotify-player {
  height: 300px;
}


h1 {
  pointer-events: none;
}

.header {
  justify-content: space-between;
  padding-top: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
}

.discover-more {
  transform: translateY(5rem);  
}

.menu {
  a {
    color: inherit;
    cursor: pointer;
  }
}

.btn {
  height: 3rem;
  min-width: 5rem;
  cursor: pointer;

  &--primary {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 3rem;
    font-size: 1.25rem;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1.75rem;
    transition: 0.2s all ease-out;

    &:hover {
        color: black;
        background-color: white;
        transition: 0.2s all ease-out;
    }
  }
}

.column.logo {
  display: flex;
  align-items: center;
  font-weight: bolder;

  kinam-simple-logo {
    margin: 0 2rem;
    display: block;
  }
}


.divider {
  &__stripe {
    height: 3rem;
    width: 1px;
    background-color: white;
    margin: 0 2rem;
  }
}

.section {
  &__hero {
    position: relative;

    &__heading {
      text-align: right;
      font-size: 6rem;
      font-weight: 900;
      line-height: 1;
      display: flex;
      justify-content: flex-end;
    }

    &__content {
      transform: translateY(-250px);
    }

    &__interaction {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 2rem;
      font-weight: bolder;

      .watch {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      
      .fa-play-circle {
        font-size: 2.5rem;
        margin-left: 1.5rem;
      }
    }
  }

  &__jacket {
    position: relative;

    &__header {
      font-size: 6.5rem;
      font-weight: bolder;
      text-align: right;
      line-height: 1.1;
      position: relative;
      padding-right: 2rem;
    }

    &__img-grid {
      display: grid;
      grid-template-columns: 25% 33% auto;
      grid-gap: 0.5rem;

      &__img1,
      &__img2,
      &__img3 { 
        background-size: cover;
        background-position: center center;
        height: 25rem;
        filter: contrast(1);
        transition: all 0.2s ease-in-out;

        &:hover {
          filter: contrast(1.25);
          transition: all 0.2s ease-in-out;
        }
      }

      &__img1 {
        background-image: url(/assets/jacket1_bg.jpg);
      }
      &__img2 {
        background-image: url(/assets/jacket2_bg.jpg);
      }
      &__img3 {
        background-image: url(/assets/jacket3_bg.jpg);
      }
    }
  }

  &__mayans { 
    &__img {
      background-image: url(/assets/mayansBg.jpg);
      background-size: cover;
      height: 30rem;
      background-position: 0% 0%;
    }
  }


  &__music {
    &__header {
      font-size: 6.5rem;
      font-weight: bolder;
      text-align: right;
      line-height: 1.1;
      position: relative;
      padding-right: 2rem;
      transform: translateY(-230px);
    }
  }

  &__social { 

    &__img {
      background-image: url(/assets/socialBg.jpg);
      background-size: cover;
      height: 30rem;
      background-position: center center;
    }

    &__header {
      font-size: 6.5rem;
      font-weight: bolder;
      text-align: right;
      line-height: 1.1;
      position: relative;
      padding-right: 2rem;
    }

    &__text {
      max-width: 20rem;
      margin-right: 10rem;
    }
  }

  &__participate {
    margin-bottom: 3rem;
  }

  &__footer{ 
    color: black;
    background-color: white;
    min-height: 4rem;
    font-weight: bold;
  }
}

.spotify-container {
  position: absolute;
  width: 100%;
  top: 60px;
}

.gradient {
  height: 60vh;  
  width: 100%;

  &__container {
    position: relative;
    overflow: hidden;
  } 

  &__image {
    background-size: cover;
    filter: grayscale(25%);
    position: absolute;
    transition: all 0.33s ease-in-out;
  }

  &__overlay {
    position: absolute;
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 120%);
    transition: transform 800ms ease-out;
    transition-delay: 200ms;
    transform: translateY(0);
  }

  &--small {
    height: 400px;
    margin-bottom: 2rem;
  }
}

.btn {
  &--indigogo {
    border: 1px solid white;
    border-radius: 0.33rem;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;    
    transition: 0.2 ease-out;
    background-color: black;
    color: white;
    text-align: center;
  
    &:hover {
      background-color: white;
      color: black;
      transition: 0.2 ease-out;
    }
    
    &__container {
      text-align: center;
      margin-top: 3rem;
    }
  }
}

.section.responsive {
  transform: translateY(-80px);
}

@media (min-width: 768px) {
  .hero-text {
    justify-content: flex-start;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .section.responsive {
    transform: translateY(-30px);
  }
}



.interaction {
  font-size: 1.5rem;

  &__jacket {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 3rem;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: 0.75rem;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .icon-label {
        padding: 0.25rem;
      }
      
      .fal {
        margin: 0 2rem;
        font-size: 2rem;
      }
    }
  }
}

/**
Complex Button start
*/

.hover-container {
  background-color: black;
  justify-content: center;
  align-items: center;
  position: relative;
}


.inner, 
.outline,
.behind {
  width: 28.5rem;
  height: 5rem;
}
.inner {
  border: 1px solid white;
  font-size: 2rem;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.outline {
  border: 1px solid white;
}

.behind {
  background: transparent;
  border: 1px solid;
  transform: translateX(-1%) translateY(-110%);
  position: absolute;
  background-color: black;
}

.fill {
  color: white;
  z-index: 3;
  font-size: 2rem;
  font-family: century-gothic, sans-serif;
}

.overlay {
  background: transparent;
  position: absolute;
  z-index: 5;
  transition: background 0.3s ease-in-out;
}

.text {
  margin: 1rem 2rem;
}

.outer {
  cursor: pointer;

  &:hover {
    .fill {
      background-color: white;
      color: black;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .overlay {
      border: 1px solid black;
      transition: border 0.3s ease-in-out;
    }

    .inner {
      background-color: black;
      color: white;
      z-index: -1;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }
}

.indiegogo {
  &__container {
    margin: 0.5rem 1rem 0 0;
    font-size: 1rem;
    line-height: 1.1;
  }

  &__link {
    color: #de1778;
    font-weight: bold;
  }
}

.order-now {
  &__container {
    margin-top: 20px;
  }

  &__content {
    margin-top: 20px;
  }
}

.wall__bg {
  background-image: url("/assets/wall_bg.jpg");
  background-position-y: center;
}

/** Complex Button end */

.order-now {
  &__links a {
    font-size: 1.2rem;
    color: white;

    &:hover {
      color: #adadad;
    }
  }
}

.btn--mayans {
  width: 15rem;
  margin: 1.5rem 3rem 0 auto;

  .hover-container {
    background-color: black;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .inner {
    border: 1px solid white;
    width: 15rem;
    height: 3rem;
    font-size: 2rem;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
  }

  .outline {
    border: 1px solid white;
    width: 15rem;
    height: 3rem;
  }

  .behind {
    background: transparent;
    width: 15rem;
    height: 3rem;
    border: 1px solid;
    transform: translateX(-1%) translateY(-110%);
    position: absolute;
    background-color: black;
  }

  .fill {
    color: white;
    z-index: 3;
    font-size: 1rem;
    font-family: century-gothic, sans-serif;
  }

  .overlay {
    background: transparent;
    position: absolute;
    z-index: 5;
    transition: background 0.3s ease-in-out;
  }

  .text {
    margin: 1rem 2rem;
  }

  .outer {
    cursor: pointer;

    &:hover {
      .fill {
        background-color: white;
        color: black;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }

      .overlay {
        border: 1px solid black;
        transition: border 0.3s ease-in-out;
      }

      .inner {
        background-color: black;
        color: white;
        z-index: -1;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }
    }
  }
}

.mayan-reading__text {
  font-size: 1rem;
  margin: 14px;

  span {
    margin-right: 1rem;
    font-size: 0.9rem;
  }
}

.scroll-label {
  font-size: 1.5rem;
  // transform: translateY(15rem);
}

.ml-2 {
  margin-left: 2rem;
}

.meet-the-mayans {
  position: relative;
  top: -14.5rem;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}

.content-block {
  margin-left: 2rem;
  margin-bottom: 2rem;

  &__headline {
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }
  &__body {
    font-size: 1rem;
  }
}

.social-links {
  text-align: center;
  
  &__link {
    cursor: pointer;
  }
}

.section__jacket__header {
  transform: translateY(-85px);
}

.interaction__jacket {
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin-top: 1rem;
  }
}


@media (min-width: 0) and (max-width: 1087px) {

  .section__hero__text {
    text-align: center;
  }

  .inner, 
  .outline,
  .behind {
    width: 18.5rem;
    height: 8rem;
  }

  

  .header {
    display: none;
  }

  .section {
    padding: 3rem 0;

    
    &__hero {
      &__heading {
        font-size: 3rem;
        line-height: 1.5;
      }
      
      &__interaction {
        justify-content: center; 
        flex-direction: row;
      }
    }

    &__footer {
      text-align: center;
    }
  }

  .interaction__jacket {
    position: absolute;
    right: 0;
    bottom: 8rem;
    top: 6rem;
  }

  .order-now__links  {
    text-align: center;
  }

  .hover-container {
    display: flex;
    justify-content: center;
  }

  .meet-the-mayans {  
    display: none;
  }
  
  .btn {
    &--indigogo {
      font-size: 1rem;
    }

    &--mayans {
      margin: 1.5rem 2.5rem 0 auto;
    }
  }

  .divider__stripe {
    margin: 0 1rem;
  }

  .section__social__text {
    margin: 1.5rem auto 2rem 0;
  }

  .section__social__header,
  .section__music__header,
  .section__jacket__header {
    font-size: 4rem;
  }

  .discover-more {
    transform: none;
  }

  .gradient--small {
    max-height: 260px;
  }

  .section-header {
    font-size: 4.5rem;
    transform: translateY(-80px);
  }

  .btn--mayans {
    transform: translateY(-60px);
  }
}


@media (min-width: 0) and (max-width: 768px) {
  .section__hero__text {
    padding: 2rem;
  }

  .content-block__headline,
  .content-block__body {
    text-align: center;
  }

  .watch,
  .btn--primary {
    font-size: 1rem;
  }

  .btn--mayans {
    margin: 1rem auto;
  }

  .interaction__jacket__item {
    flex-direction: column;
    text-align: center;
  }

  .content-block {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .section {
    &__music__header {
      transform: translateY(-90px);
    }

    &__hero {
      &__heading {
        justify-content: center; 
        text-align: center; 
      }
    }

    &__jacket {
      .column.is-6 {
        height: 12rem;
      }
    }

    &__social__text {
      bottom: 8rem;
      top: -4rem;
      // margin: 1rem 1rem 1rem auto !important;
      margin: 0 auto !important;
      text-align: center;
    }

    &__social__header {
      height: 7rem;
    }  

    &-header {
      transform: translateY(-130px);
    }
  }

  .scroll-label {
    transform: translateY(6rem);
  }

  .interaction__jacket {
    bottom: 3rem;
    width: 100%;
    margin: 0;
  }

  .gradient {
    height: 40vh;
  }
}


@media (min-width: 0) and (max-width: 768px) {
  .content-block {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.discover-more > div {
  text-align: center;
  min-height: 0; 
  position: absolute; 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

@media (min-width: 1087px)  { 
  .gradient--small {
    max-height: 390px;
  }
}