<!-- <div class="icon-bar"> -->
        <ng-container style="width: 100%; height:auto">
                <a class="a" routerLink="/calendar" routerLinkActive="active" style="color: white; padding-left:2rem">
                  <span>
                        Discover Your Maya Sign
                  </span>
                  <span style="width: 0.1rem"><i class="fal fa-chevron-right"
                        style="font-size: 0.8rem; padding-top: 3px; padding-left: 3px"></i></span>
                        
                </a>
                
        </ng-container>
<!-- </div> -->