.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow: auto  ;
  z-index: 0;
  flex-direction: row;
  display: flex;

  .product-img {
    flex: 1;
    width: 100%;
    background-position: center center;
    overflow: hidden;
  
    display: flex;

    transform: scale(1);
    // min-height: 10rem;
    transition: all 0.6s ease-in-out;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    filter: contrast(100%) brightness(50%);

    .content-box {
      background-color: rgba(0, 0, 0, 0.8);
      flex: 1;
      height: 5rem;
      align-self: flex-end;
      transform: translateY(100%);
      transition: all 0.6s ease-out;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      h2 {
        align-self: center;
        margin-right: 2rem;
        margin-left: auto;
        color: #fff;
        margin-bottom: auto;
      }

      .color-strip {
        flex: 1;
        max-height: 5px;
        display: flex;
        margin-bottom: auto;
        flex-direction: row;
        border-top: 1px solid #333;

        .bg {
          flex: 1;
          height: 100%;
          opacity: 0.5  ;
          &-red {
            background-color: red;
          }
          &-green {
            background-color: green ;
          }
          &-blue {
            background-color: blue;
          } 
          &-black {
            background-color: black;
          }

          &-white {
            background-color: white;
          }
        }
      }
    }

    &:hover, &:active {
      transform: scale(1.2);
      filter: contrast(120%) brightness(100%);
      transition: all 0.6s ease-out;

      .content-box {
        transform: translateY(0);
        transition: all 0.6s ease-out;
      }
  
    }
  }
}
  
@media screen and (min-width: 0px) and (max-width: 1023px) {
  .bg-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    .product-img { 
      background-size: 100%;

      &:hover, 
      &:active {
        background-size: 120%;
        transition: all 0.6s ease-out;
        transform: scale(1);
        filter: contrast(120%) brightness(100%);
      }
    }
  }
}

@media screen and (min-width:1024px) {
  .bg-image {
    overflow: hidden;
  }
}


:host {
  height: 100vh;
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
  position: relative;
  display: block;
  overflow: hidden;
}
