<!-- <div class="upper upper-left" #upperLeft (click)="toggleUpperLeft()">
  <h2 class="has-text-centered">
    Product
    <i class="fal fa-tshirt"></i>
  </h2>

  <div class="text text__product" #productText>
    {{blindTextBlock}}
    {{blindTextBlock}}
    {{blindTextBlock}}
    {{blindTextBlock}}
  </div>
</div>


<div class="upper upper-right" #upperRight (click)="toggleStory()">
  <h2 class="has-text-centered">
    Story
    <i class="fal fa-books"></i>
  </h2>
  <div class="text text__story" #storyText>
    {{ blindTextBlock }}
  </div>
</div>
<div class="lower" (click)="expandLower()" #lower>
  <h2 class="has-text-centered">
    <i [class]="arrowCls$ | async" style="margin-right: 2rem"></i> Personalize
  </h2>

  <div class="text">

    I can show a lot more than you thought! However I am still a placeholder (TM);

    <kinam-birthday class="section" [content$]="calendar$"> </kinam-birthday>

    <br>
    {{ blindTextBlock }}
  </div>
</div>
-->
<div class="bg-image" #bgImage (click)="$event.stopPropagation()">
  <div class="product-img" #productImg></div>
  <ng-container *ngIf="img$ | async as img">
  </ng-container>
</div>