<div class="columns">
  <div class="column column__description">

    <div class="headline">
      <div class="color-grid">
        <div class="color-grid__tile tile_1"></div>
        <div class="color-grid__tile tile_2"></div>
        <div class="color-grid__tile tile_3"></div>
        <div class="color-grid__tile tile_4"></div>
        <div class="color-grid__tile tile_5"></div>
        <div class="color-grid__tile tile_6"></div>
        <div class="color-grid__tile tile_7"></div>
        <div class="color-grid__tile tile_8"></div>
        <div class="color-grid__tile tile_9"></div>
        <div class="color-grid__tile tile_10"></div>
        <div class="color-grid__tile tile_11"></div>
        <div class="color-grid__tile tile_12"></div>
      </div>

      <h1 class="section-header">
        <strong>Kaqchikel</strong>
      </h1>
    </div>

    <div class="interaction-bar">
      <div class="interaction-bar__item">
        <i class="fal fa-seedling"></i>
        <div class="icon-label">
          natural <br>
          materials
        </div>
      </div>
      <div class="interaction-bar__item">
        <i class="fal fa-flower-tulip"></i>
        <div class="icon-label">
          sustainable <br>
          model
        </div>
      </div>
      <div class="interaction-bar__item">
        <i class="fal fa-hand-holding-heart"></i>
        <div class="icon-label">
          handmade
        </div>
      </div>
    </div>


    <div style="padding-left: 40px">
      <div>
        <strong>Handmade jacket</strong> made by the mayan <br>
        artisans of guatemala
        <br>
        <br>
      </div>
    </div>

  </div>

  <div class="column">

  </div>
</div>

<kinam-menu></kinam-menu>