<div
  class="columns is-gapless columns--main"
  #main
>
  <div class="column is-5 column__description">

    <kinam-product-header></kinam-product-header>

    <div class="interaction-bar">
      <div class="interaction-bar__item">
        <i class="fal fa-seedling"></i>
        <div class="icon-label">
          natural <br>
          materials
        </div>
      </div>
      <div class="interaction-bar__item">
        <i class="fal fa-flower-tulip"></i>
        <div class="icon-label">
          sustainable <br>
          model
        </div>
      </div>
      <div class="interaction-bar__item">
        <i class="fal fa-hand-holding-heart"></i>
        <div class="icon-label">
          handmade
        </div>
      </div>
    </div>


    <div style="padding-left: 40px">
      <div style="margin-top: 1.5rem">
        <strong>Handmade jacket</strong> made by the mayan <br>
        artisans of guatemala
        <br>
        <br>
      </div>

      <hr class="product-divider">

      <div
        class="hover-container"
        style="margin-top: 4rem;"
      >
        <div class="outer">
          <div
            class="inner overlay"
            id="overlay"
          ></div>
          <div class="inner outline"></div>
          <div class="behind fill ">
            <div class="order-now__content">
              <div
                class="is-pulled-left"
                style="font-weight: 600;font-family: century-gothic;font-size: 24px;margin-top: 8px;"
              >
                &nbsp;&nbsp;&nbsp;ORDER NOW <i
                  class="fal fa-chevron-right"
                  style="margin-left: 6px"
                ></i>
              </div>
              <div class="is-pulled-right indiegogo__container">
                Support our <br>
                <a
                  class="indiegogo__link"
                  href="#"
                >INDIEGOGO</a> campaign
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column column__model">
    <img
      src="assets/bottom_leaf.png"
      style="position: absolute; z-index: -1; right: 10rem; min-height: 100vh;"
      alt="Bottom Leaf"
    >
    <img
      src="assets/models/kaqchikel.png"
      style="max-height: 100vh; margin-top: 3rem;"
      alt="Kaqchikel Jacket"
    >
  </div>

</div>

<div class="columns">
  <div class="column">
    <kinam-product-slider></kinam-product-slider>
  </div>
</div>

<kinam-menu></kinam-menu>