<style type="text/css">
  .fill {
    color: white;
    background-color: black;
    z-index: 5;
    font-size: 2rem;
    font-family: century-gothic, sans-serif;
  }

  .tabOutline {
    border: 0px solid white;
    /* max-width: 620px; */
    /* min-height: 200px; */
    /* border-radius: 0.5rem; */
    /* margin: 0 auto; */
  }

  .mat-tab-label {
    height: 48px;
    /* padding: 0 24px; */
    /* cursor: pointer; */
    box-sizing: border-box;
    opacity: .6;
    min-width: 50px !important;
    /* text-align: center; */
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* white-space: nowrap; */
    /* position: relative; */
  }

  .mat-ink-bar {
    display: none;
    position: absolute;
    bottom: 0;
    height: 0px !important;
    transition: .5s cubic-bezier(.35, 0, .25, 1);
  }
</style>
<img src="assets/jacket.png" style=" position: absolute; z-index: -1; right: 0rem; min-height: 100vh;min-width: 200vh  
" alt="Bottom Leaf">
<div class="columns is-gapless columns--main" #main>
  <div class="column is-6 column__description">

    <kinam-product-header (imageChange)='displayImage($event)'></kinam-product-header>




    <div>
      <div>
        <div class="tabOutline">

          <div class="columns">
            <div class="column">
              <kinam-product-slider></kinam-product-slider>
            </div>
          </div>
          <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <i *ngIf="currentTabIndex===0" class="fas fa-circle"></i>
                <i *ngIf="currentTabIndex!==0" class="fal fa-circle"></i>
              </ng-template>
              <div class="interaction-bar">
                <div class="interaction-bar__item">
                  <i class="fal fa-seedling"></i>
                  <div class="icon-label">
                    natural <br>
                    materials
                  </div>
                </div>
                <div class="interaction-bar__item">
                  <i class="fal fa-flower-tulip"></i>
                  <div class="icon-label">
                    sustainable <br>
                    model
                  </div>
                </div>
                <div class="interaction-bar__item">
                  <i class="fal fa-hand-holding-heart"></i>
                  <div class="icon-label">
                    handmade
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i *ngIf="currentTabIndex===1" class="fas fa-circle"></i>
                <i *ngIf="currentTabIndex!==1" class="fal fa-circle"></i>
              </ng-template>
              <h1 style="font-size: 40px">Garments Selling Stories </h1>
              Looking to make a fashion statement? Your unique KINAM jacket will do it for you. Comprised of
              high-quality,
              organic textile, our one-of-a-kind garments are where modern street style meets the ancient Maya
              civilization with
              3,000-year-old weaving prajacctices. Each jacket features a bold, unisex design, telling the story of
              one of six
              represented Maya tribes. Eventually, we aim to expand our product line to include all 22 Maya
              communities. Our
              goal is sustainable, transparent production, designed in Berlin and hand-woven in Guatemala by
              Maya-descendant
              artisans in fair conditions. 10% of every sale will go back to Guatemala via our social projects, to
              support the
              Mayas and help them build skills for a better future.
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i *ngIf="currentTabIndex===2" class="fas fa-circle"></i>
                <i *ngIf="currentTabIndex!==2" class="fal fa-circle"></i>
              </ng-template>
              <h1 style="font-size: 40px">Weaving ancient threads </h1>
              The fabric of every Kinam jacket is hand-woven with love by Maya descendant artisans in
              Guatermala,masterfully created over 3 to 6 months per garment.The textile is composed 100% of cotton
              yarn
              using a foot loom,then dyed with the ikat technique,locally referred to as "Jaspe",in which threads are
              bound and knotted to achieve the desired patterns and colors.The handweaving technique is passed down
              through the Maya communities over generations to their children,to preserve traditions and tell the
              stories of their ancestors and hand via the artful textile.With our jackets,we want to give the artisans
              recognition and respect by bringing their beautiful guarments to the world fashion stage.
            </mat-tab>

          </mat-tab-group>
          <div class="hover-container">
            <div class="outer">
              <div class="inner overlay" id="overlay" style="width: 18rem;
          height: 5rem;"></div>
              <div class="inner outline" style="width: 18rem;
          height: 5rem;"></div>
              <div class="behind fill " style="width: 18rem;
          height: 5rem;">
                <div class="order-now__content">
                  <div class="" style="font-weight: 600;font-family: century-gothic;font-size: 30px;margin-top: -15px;">
                    &nbsp;ORDER NOW <i class="fal fa-chevron-right" style="margin-left: 6px;"></i>
                  </div> <br>
                  <div class=" " style=" font-size: 15px; margin-left: 5px;   margin-top: -45px;">
                    <b> Support our
                      <a class="" href="#">INDIEGOGO</a> campaign</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- <hr class="product-divider"> -->


    </div>
  </div>

  <div class="column column__model">
    <!-- <img src="assets/jacket.png" style=" position: absolute; z-index: -1; right: 0rem; min-height: 100vh;min-width: 200vh  
" alt="Bottom Leaf"> -->
    <img *ngIf="currentImage === 0.5" src="assets/models/kaqchikel.png" class="jacket-img"
      style="max-height: 104vh; margin-top: 10rem;" alt="Kaqchikel Jacket">
    <img *ngIf="currentImage === 1" src="assets/jacket2_bg.jpg" class="jacket-img"
      style="max-height: 104vh; margin-top: 10rem;" alt="Kaqchikel Jacket">
  </div>

  <!-- social icons column -->
  <div class="column is-1">
    <kinam-social-icons></kinam-social-icons>
  </div>

</div>

<kinam-menu></kinam-menu>