/* You can add global styles to this file, and also import other style files */

@import './app/styles/fonts';
@import './app/styles/input';

body,
html {
  height: 100%;
}

html {
  background: black;
  color: white;
  box-sizing: content-box;
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.wall__bg {
  background-image: url("/assets/wall_bg.jpg");
  background-position-y: center;
}

.spotify-container {
  position: absolute;
  width: 100%;
  top: 60px;
  min-height: 20rem;
}

.spotify-player {
  height: 300px;
}

p {
  color: white;
}

h1, h2, h3 h4 {
  color: white;
  font-weight: bold;
}

body {
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.fp-tableCell {
  height: 0 !important;
  background-color: rgba($color: #000000, $alpha: 0.8);
  text-align: center;
}

p {
  font-family: sans-serif;
}

strong {
  color: white;
}

.current-color {
  stroke: currentColor;
}


.gradient {
  height: 60vh;
  min-height: 20rem;  
  width: 100%;

  &__container {
    position: relative;
    overflow: hidden;
  } 

  &__image {
    background-size: cover;
    background-position: center;
    filter: grayscale(25%);
    position: absolute;
    transition: filter 0.33s ease-in-out;
  }

  &__overlay {
    position: absolute;
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 120%);
    transition: transform 800ms ease-out;
    transition-delay: 200ms;
    transform: translateY(0);
  }

  &--small {
    height: 400px;
    margin-bottom: 2rem;
  }
}

.interaction {
  font-size: 1.5rem;

  &-bar {
    display: flex;
    flex-direction: row;
    transform: translateY(-50px);
    margin-right: 7.5rem;
    font-size: 0.75rem;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem 0;
      
      .icon-label {
        padding: 0.25rem 0.75rem;
      }
      
      .fas, 
      .fal {
        margin: 0 0.5rem;
        font-size: 48px;
      }
    }
  }
}