<div class="sidescroll" id="sidescroll" parallax (bgLoaded)="loaded = true" #scroll>
  <div id="sec1" class="sec">
    <div class="card-container" *ngIf="(intro$ | async) as fields">
      <h1 class="title card card__black has-text-centered">{{fields.title}}</h1>
      <section class="content--vertical">

        <p class="card card__black" [innerHTML]="fields.intro_1"></p>

        <iframe [src]="getSanitized(fields.video_1)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p class="card card__black" [innerHTML]="fields.intro_2"></p>

        <div class="newsletter-box card__black">
          <h2 class="subtitle">Get latest updates!</h2>

          <input type="email" class="newsletter-input">

          <button class="newsletter-button">
            Sign up!
          </button>
        </div>

        <img class="content-img" (click)="openTab(fields.picture_1)" [src]="getThumbnail(fields.picture_1, 480)" />
        <p class="card card__black" [innerHTML]="fields.text_1"></p>
        
        <img class="content-img" (click)="openTab(fields.picture_2)" [src]="getThumbnail(fields.picture_2, 480)" /> 
        <p class="card card__black" [innerHTML]="fields.text_2"></p>

        <img class="content-img" (click)="openTab(fields.picture_3)" [src]="getThumbnail(fields.picture_3, 480)" /> 
        <img class="content-img" (click)="openTab(fields.picture_4)" [src]="getThumbnail(fields.picture_4, 480)" /> 

        <div class="card card__black has-text-centered" (click)="goTo(2)">
          The Problem.
        </div>
      </section>
    </div>
  </div>
  <div class="sec" id="sec2">
    <div class="card-container" *ngIf="(problem$ | async) as fields" id="container-2">
      <h1 class="title card card__black has-text-centered">The Problem.</h1>

      <section class="content--vertical">
        <img class="content-img"  [src]="fields.picture_1" />

        <p class="card card__black" [innerHTML]="fields.text_1"></p>
          
        
        <img class="content-img"  [src]="fields.picture_2" />
        
        <p class="card card__black" [innerHTML]="fields.text_2"></p>

        <a href="/assets/mission3.jpg" target="_blank">
          <img class="content-img" src="/assets/mission3.jpg" />
        </a>

        <div class="card card__black has-text-centered" (click)="goTo(3)">
          What we want to achieve.
        </div>
      </section>
    </div>
  </div>

  <div class="sec" id="sec3" >
    <div class="card-container"  id="container-3">
      <h1 class="title card card__black has-text-centered">Our Goal</h1>
      <section class="content--vertical">
        <kinam-birthday class="card card__black"></kinam-birthday>

        <p class="card card__black" >
          One of their calendars is called Tzolkin, it is used to calculate a person's Nahual, the equivalent of our western star signs. 
          <br>
          <br>
          There are 20 different Nahuales in the Tzolkin calendar. A Nahual is a Mayan sign, spirit or totem associated with specific personality traits. 
        </p>
      </section>
    </div>
  </div>
</div>


<nav class="navbar">
  <div class="nav-button selected" id="nav-1" (click)="goTo(1)">   </div>
  <div class="nav-button" id="nav-2" (click)="goTo(2)"></div>
  <div class="nav-button" id="nav-3" (click)="goTo(3)"></div>
</nav>

<div style="color: white" *ngIf="!loaded" id="spinner">
    <svg width="200px"  height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ball" style="background: none;"><circle cx="50" cy="35.7097" r="13" fill="#fdfdfd"><animate attributeName="cy" calcMode="spline" values="23;77;23" keyTimes="0;0.5;1" dur="1" keySplines="0.45 0 0.9 0.55;0 0.45 0.55 0.9" begin="0s" repeatCount="indefinite"></animate></circle></svg>
</div>