.flex-1-1 {
  flex: 1 1;
}

.flex-stretch {
  align-items: stretch;
}

kinam-birthday {
  margin: 1rem 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.sidescroll {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  background-size: auto 100%;
  scroll-snap-type: x mandatory; 
}

.sec {
  flex: 1;
  min-width: 100vw;
  scroll-snap-align: start;
}


strong {
  color: white !important;
}

.nav-button {
  flex: 1;
  border: none;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  width: 1rem;
  max-width: 1rem;
  height: 1rem;
  max-height: 1rem;
  border-radius: 1rem;
  padding: 0.52rem;
  margin: 0.5rem;
  transition: all 0.33s ease-in-out;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
  transform: scale(1);
  
  &:hover:not(.selected) {
    cursor: pointer;
    transform: scale(1.25);
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.75);
  }
  
  &.selected {
    color: #333333;
    background-color: white;
    box-shadow: 0px 0px 3px 2px rgba(51, 51, 51, 0.5);

    transition: all 0.33s ease-in-out;
  }
}

.sec {
  display: flex;
  flex-direction: row;
}

.content--vertical {
  border-radius: 0.5rem;
  overflow: auto;
}

iframe {
  margin: 0.75rem 0;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
  width: 100%;
}


.slide-out {
  transform: translatex(-3.25rem);
  transition: 0.4s transform ease-in-out;
}

@media screen and (max-width: 480px) {

  .card-container {
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 0.25rem;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    margin-left: 4rem;
  }
} 

@media screen and (min-width: 1280px) {
  .card-container {
    max-width: 50rem;
    margin-left: 8rem;
  }

  iframe {
    height: 20rem;
  }

  iframe {
    margin: 1.5rem 0;
  }
}