<div #main class="main">
    <style type="text/css">
        .wall__bg {
            background-image: url("/assets/socialprojects.png");
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        .gradient {
            height: 100%;
        }


        .po {
            font-size: 130px;
            margin-right: 40px;
            color: white;
            line-height: .75;
            text-align: right;
            letter-spacing: 3px;
            font-family: Century Gothic;
        }

        .pof {
            font-size: 60px;
            font-family: Century Gothic;
            line-height: .9;
            color: white;
        }

        .poff {
            font-size: 20px;
            font-family: Century Gothic;
            line-height: .9;
            color: white;
        }

        .submenu {
            padding-left: 50%;
            color: white;
        }

        .submenu2 {
            padding-left: 50px;
            color: white;
        }

        .p2,
        .p3,
        p {
            font-family: Freight Sans;
            font-size: 14px;
        }

        p {
            margin-right: 40px;
        }
    </style>
    <div class="gradient " style="margin-top: -160px;">
        <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div>
        <br><br>




        <section class="section responsive ">
            <div class="links" style="margin-top: 200px;">
                <a routerLinkActive="active" routerLink="/social-projects-1" class="submenu"> Project 01</a> <a
                    routerLinkActive="active" routerLink="/social-projects-2" class="submenu2"> Project 02</a> <a
                    routerLinkActive="active" routerLink="/social-projects3" class="submenu2"> Project 03</a></div>

            <div class="columns is-gapless" style="margin-top: 50px;">
                <div class="column is-6 project-heading" style="margin-top: -50px;">

                    <div class="po"><b>Social Projects</b></div>
                    <br><br>


                    <div class="columns projects-content">


                        <div class="column is-5">
                            <div class="p2">
                                With KINAM’s social projects, we aim to build pride and appreciation for the Maya
                                culture amongst
                                younger
                                generations
                                and equip them with the necessary tools for future success. Our three first projects
                                are: education
                                and
                                skill-building
                                through football, re-introduction of Maya art by teaching descendants how to read and
                                write in
                                original
                                Glyphs,
                                and
                                financing Maya archeological projects to uncover lost treasures.

                            </div>

                        </div>
                        <div class="column is-5 ">
                            <div class="p3"> Another long term goal in the pipeline is to create volunteer participation
                                projects for people from all around the world whereby we can stimulate an even greater
                                cultural exchange.<b> There is an oppurtunity for social projects in Guatemaia to have a
                                    true impact,to preserve and protect the rich ancient Maya culture.</b>
                            </div>


                        </div>
                    </div>


                </div>

                <div class="column is-3 ">
                    <br><br>
                    <div class="pof"><b> Unveiling Maya Art</b></div>
                    <br>
                    <div class="poff"> <b>Situation </b></div><br>

                    <p>The majority of the Maya descendants have lost the ability to interpret reading and writing in
                        their original Maya Glyphs language,plus the infrastructure of their communities is nit
                        attractive for tourists to visit their towns and local artisans have a hardtime selling their
                        handmade crafts without interested tourists to buy them.

                    </p>

                </div>

                <div class="column is-2"></div>
                
                <!-- social icons column -->
                <div class="column is-1 social-icons">
                    <kinam-social-icons></kinam-social-icons>
                </div>
            </div>






        </section>
    </div>
</div>