<div
    #main
    class="main"
>
    <h1 class="title">Social Projects</h1>

    <hr>
    <div class="gradient gradient__container">
        <div class="gradient gradient--small gradient__image section__social__img"></div>
    </div>

    <section class="section">

        <div class="columns">
            <div class="column is-6 is-offset-3">
                <h2 class="title has-text-white">Education Through Football</h2>

                <p>
                    With KINAM’s social projects, we aim to build pride and appreciation for the Maya culture amongst
                    younger
                    generations
                    and equip them with the necessary tools for future success. Our three first projects are: education
                    and
                    skill-building
                    through football, re-introduction of Maya art by teaching descendants how to read and write in
                    original
                    Glyphs,
                    and
                    financing Maya archeological projects to uncover lost treasures. Another long-term goal in the
                    pipeline
                    is
                    to
                    create
                    volunteer participation projects for people from all around the world whereby we can stimulate an
                    even
                    greater
                    cultural
                    exchange. There is an opportunity for social projects in Guatemala to have a true impact, to
                    preserve
                    and
                    protect
                    the
                    rich ancient Maya culture.

                </p>
            </div>
        </div>

        <hr>

        <div class="columns">
            <div class="column is-4 is-offset-2">
                <h2 class="title has-text-white">Situation </h2>

                <p>Football plays a big role in Guatemala ́s culture and represents a positive distraction from a rough
                    everyday-life
                    for
                    many people, especially younger generations. However, suitable and safe spaces, appropriate
                    equipment,
                    and
                    qualified
                    coaches with pedagogical skills are rare. The social potential of football remains largely
                    undisclosed /
                    hidden.

                </p>
            </div>

            <div class="column is-4">

                <h2 class="title has-text-white">Complication</h2>
                <p>

                    Due to impoverished living conditions, things that are deemed essential for survival are at the
                    focus of most families ́
                    efforts. As many children need to work in order to contribute to that, the built-up energy inside
                    them often ends up being released in acts of violence or vandalism. Football is not yet regarded as
                    instrumental in
                    learning essential
                    life-skills within the communities.

                </p>

            </div>
        </div>

        <div class="columns">
            <div class="column is-6 is-offset-3">

                <h2 class="title has-text-white">Solution</h2>

                <p>Football is an accessible and effective motor for positive social change. Local coaches are trained
                    to
                    apply
                    established
                    methods in their programs, promoting values like mutual respect, fair-play, and a sense of
                    collective
                    responsibility.
                    Football is used as the “hook” to draw otherwise hard-to-reach children into further educational
                    programs -
                    playing
                    in
                    exchange for learning. Like a game of football, the program is composed of two halves. 45 minutes of
                    play
                    plus
                    45
                    minutes of education add up to 90 minutes of preparing for a better future. Receiving extensive
                    training
                    and
                    being
                    given
                    various responsibilities, local coaches and participants feel empowered, a sense of project
                    ownership is
                    created,
                    and a
                    generation of well-equipped future leaders emerges in Guatemalan communities.
                </p>
            </div>
        </div>
    </section>
</div>