:host {
    display: block;
    margin-top: 4rem;
}

.section__social__img {
    background-image: url(/assets/socialBg.jpg);
    background-size: cover;
    height: 30rem;
    background-position: center center;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: white
}

p {
    margin-bottom: 2rem
}