<div #main class="main">
    <style type="text/css">
        .wall__bg {
            background-image: url("/assets/socialprojects.png");
            height: 150%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        .gradient {
            height: 100%;
        }


        .po {
            font-size: 130px;
            margin-right: 40px;
            color: white;
            line-height: .5;
            text-align: right;
            /* letter-spacing: 3px; */
            font-family: Century Gothic;
        }

        .pof {
            font-size: 60px;
            font-family: Century Gothic;
            line-height: .9;
            color: white;
        }

        .poff {
            font-size: 20px;
            font-family: Century Gothic;
            line-height: .9;
            color: white;
        }

        .submenu {
            padding-left: 50%;
            color: white;
        }

        .submenu2 {
            padding-left: 50px;
            color: white;
        }

        .p2,
        .p3,
        p {
            font-family: Freight Sans;
            font-size: 15px;
            text-align: left;
        }

        p {
            margin-right: 40px;
        }

        /* .mat-tab-label .mat-tab-label-content{
            padding-right: 10px !important;
            padding-left: 10px !important;
        } */
    </style>

    <div class="gradient " style="margin-top: -160px;">
        <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div>
        <br><br>




        <section class="section responsive ">
            <!-- <div class="links" style="margin-top: 200px;">
                <a routerLinkActive="active" routerLink="/social-projects-1" class="submenu"> Project 01</a> <a
                    routerLinkActive="active" routerLink="/social-projects-2" class="submenu2"> Project 02</a> <a
                    routerLinkActive="active" routerLink="/social-projects3" class="submenu2"> Project 03</a>
                </div> -->

            <div class="columns is-gapless" style="margin-top: 15rem;">
                <div class="column project-heading" style="justify-content: right; padding-bottom: 2rem;">
                    <div class="rows">
                        <div class="row po" style="margin-top: 2rem; line-height: 0.75; padding-bottom: 3rem">

                            <span class="projectHeader">
                                Social </span><br>
                            <span class="projectHeader">
                                Projects
                            </span>

                        </div>


                        <div class="row">
                            <div class="columns is-6 projects-content">


                                <div class="column is-5" style="margin-left: 2rem">
                                    <div class="p2">
                                        <p>
                                            With KINAM’s social projects, we aim to build pride and appreciation for the
                                            Maya
                                            culture amongst younger generations and equip them with the necessary tools
                                            for future success.
                                            Our three first projects are: education and skill-building through football,
                                            re-introduction of
                                            Maya art by teaching descendants how to read and write in original Glyphs,
                                            and financing Maya
                                            archeological projects to uncover lost treasures.
                                        </p>


                                    </div>

                                </div>
                                <div class="column is-5 ">
                                    <div class="p3">
                                        <p>
                                            Another long term goal in the pipeline is to create volunteer participation
                                            projects for people from all around the world whereby we can stimulate an
                                            even greater
                                            cultural exchange.<b> There is an oppurtunity for social projects in
                                                Guatemaia to have a
                                                true impact,to preserve and protect the rich ancient Maya culture.</b>
                                        </p>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="column is-4">
                    <div>
                        <kinam-product-slider></kinam-product-slider>
                    </div>
                    <mat-tab-group>
                        <mat-tab label="Project01">
                            <div class="pof"><b> Education Through Football</b></div>
                            <br>
                            <div class="poff"> <b>Situation </b></div><br>

                            <p>
                                Football plays a big role in Guatemala ́s culture and represents a positive distraction
                                from a rough everyday-life for many people, especially younger generations. However,
                                suitable and safe spaces, appropriate equipment, and qualified coaches with pedagogical
                                skills are rare. The social potential of football remains largely undisclosed / hidden.

                            </p>
                            <br>
                            <div class="poff"> <b>Complication </b></div><br>

                            <p>
                                Due to impoverished living conditions, things that are deemed essential for survival are
                                at the focus of most families ́ efforts. As many children need to work in order to
                                contribute to that, the built-up energy inside them often ends up being released in acts
                                of violence or vandalism. Football is not yet regarded as instrumental in learning
                                essential life-skills within the communities.


                            </p>
                            <br>
                            <div class="poff"> <b>Solution </b></div><br>

                            <p>
                                Football is an accessible and effective motor for positive social change. Local coaches
                                are trained to apply established methods in their programs, promoting values like mutual
                                respect, fair-play, and a sense of collective responsibility. Football is used as the
                                “hook” to draw otherwise hard-to-reach children into further educational programs -
                                playing in exchange for learning. Like a game of football, the program is composed of
                                two halves. 45 minutes of play plus 45 minutes of education add up to 90 minutes of
                                preparing for a better future. Receiving extensive training and being given various
                                responsibilities, local coaches and participants feel empowered, a sense of project
                                ownership is created, and a generation of well-equipped future leaders emerges in
                                Guatemalan communities


                            </p>
                            <img src="assets/models/kaqchikel.png">
                        </mat-tab>
                        <mat-tab label="Project02" style="color: blanchedalmond">
                            <div class="pof"><b> Unveiling Maya Art</b></div>
                            <br>
                            <div class="poff"> <b>Situation </b></div><br>

                            <p>
                                During 30 years of civil war in Guatemala, a generational gap of Maya descendants, who
                                are not able to read and write in their original maya language, was created. For 30
                                years they suffered oppression and where obligated to learn Spanish as their main
                                language. A vast majority of them spread into the highlands of Guatemala to hide from
                                the guerrillas and the army. They assembled there and have been surviving for decades
                                without access to proper education. As a consequence, the majority of the Maya
                                descendants have lost the ability to interpret reading and writing in their original
                                Maya glyph language.
                            </p>
                            <br>
                            <div class="poff"> <b>Problem </b></div><br>

                            <p>
                                The Maya descendant communities of Guatemala are lacking the resources for them to
                                prosper and conserve their culture. The absence of basic human necessities are forcing
                                large numbers of people to migrate to the US illegally with the hope of finding jobs
                                that enable them to provide a better future for themselves. This dream for a better
                                future outside of the country drives them to risk their lives and their childrens making
                                the trip to the US border on foot, crossing rivers and desserts, facing the dangers of
                                human trafficking and sexual violence.

                            </p>
                            <br>
                            <div class="poff"> <b>Solution </b></div><br>

                            <p>
                                Alongside Maya archeology experts and the local communities of Maya descendants, we want
                                to create awareness of the importance of learning and conserving the Maya glyph
                                language. By enabling locals to re-learn the traditional maya language, we want to
                                provide them with the opportunity to have access to new and better jobs being created in
                                the archeological sector. The phase 1 of this project entails creating workshops that
                                teach the Maya-decendants how to read and write in Maya glyphs. The idea is to combine
                                compact theoretical sessions with extensive
                            </p>
                            <img src="assets/models/kaqchikel.png">
                        </mat-tab>
                        <mat-tab label="Project02" style="color: blanchedalmond">
                            <div class="pof"><b> Maya Archeology </b></div>
                            <br>
                            <div class="poff"> <b>Situation </b></div><br>

                            <p>Football plays a big role in Guatemala ́s culture and represents a positive distraction
                                from a
                                rough
                                everyday-life
                                for
                                many people, especially younger generations. However, suitable and safe spaces,
                                appropriate
                                equipment,
                                and
                                qualified
                                coaches with pedagogical skills are rare. The social potential of football remains
                                largely
                                undisclosed /
                                hidden.

                            </p>
                            <img src="assets/models/kaqchikel.png">
                        </mat-tab>
                    </mat-tab-group>


                </div>
                <!-- <div class="column is-2"></div> -->
                <!-- social icons column -->
                <div class="column is-1 social-icons">
                    <kinam-social-icons></kinam-social-icons>
                </div>

            </div>






        </section>

        <section>
                <div class="column is-1 social-icons" style="width: 100%; padding-bottom: 5rem">
                    <kinam-page-footer></kinam-page-footer>
                  </div>
              <!-- <kinam-page-footer></kinam-page-footer> -->
            </section>
    </div>
</div>