<section
  class="columns is-desktop"
>
  <article class="column">
    <mat-form-field>      
        <input
            matInput
            [formControl]="date1ctrl"
            [matDatepicker]="picker1"
            placeholder="Choose a date"
            (dateChange)="handleDateChange($event)"
        > 
        <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <section class="birthday-blocks">
      <kinam-maya-number-block [number]="date1.getMonth()">
        <strong>
          Month:{{ date1.getMonth() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date1.getDay()">
        <strong>
          Day: {{ date1.getDay() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date1.getYear()">
        <strong>
          Year: {{ date1.getYear() }}
        </strong>
      </kinam-maya-number-block>
    </section>

    <article class="column">
      <table class="table is-fullwidth">
        <tr>
          <th>Nahual Day: </th>
          <td>{{ date1.nahualDay }}</td>
        </tr>
        <tr>
          <th>Nahual Name: </th>
          <td>{{ date1.nahualName }}</td>
        </tr>
        <tr>
          <th>Natural Sign: </th>
          <td>{{ date1.daySign }}</td>
        </tr>
      </table>
      <div>
        <img
          [src]="date1.image"
          [attr.alt]="'Nahual Sign: ' + date1.daySign"
        >
      </div>
    </article>

    <mat-form-field>      
      <input
          matInput
          [formControl]="date2ctrl"
          [matDatepicker]="picker2"
          placeholder="Choose a date"
          (dateChange)="handleDateChange($event)"
      > 
      <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
    <section class="birthday-blocks">
      <kinam-maya-number-block [number]="date2.getMonth()">
        <strong>
          Month:{{ date2.getMonth() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date2.getDay()">
        <strong>
          Day: {{ date2.getDay() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date2.getYear()">
        <strong>
          Year: {{ date2.getYear() }}
        </strong>
      </kinam-maya-number-block>
    </section>

  </article>
  <article class="column">
    <table class="table is-fullwidth">
      <tr>
        <th>Nahual Day: </th>
        <td>{{ date2.nahualDay }}</td>
      </tr>
      <tr>
        <th>Nahual Name: </th>
        <td>{{ date2.nahualName }}</td>
      </tr>
      <tr>
        <th>Natural Sign: </th>
        <td>{{ date2.daySign }}</td>
      </tr>
    </table>
    <div>
      <img
        [src]="date2.image"
        [attr.alt]="'Nahual Sign: ' + date2.daySign"
      >
    </div>
  </article>
</section>
<section
  class="columns is-desktop"
>
  <article class="column">

    <mat-form-field>      
      <input
          matInput
          [formControl]="date3ctrl"
          [matDatepicker]="picker3"
          placeholder="Choose a date"
          (dateChange)="handleDateChange($event)"
      > 
      <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>

    <section class="birthday-blocks">
      <kinam-maya-number-block [number]="date3.getMonth()">
        <strong>
          Month:{{ date3.getMonth() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date3.getDay()">
        <strong>
          Day: {{ date3.getDay() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date3.getYear()">
        <strong>
          Year: {{ date3.getYear() }}
        </strong>
      </kinam-maya-number-block>
    </section>

  </article>
  <article class="column">
    <table class="table is-fullwidth">
      <tr>
        <th>Nahual Day: </th>
        <td>{{ date3.nahualDay }}</td>
      </tr>
      <tr>
        <th>Nahual Name: </th>
        <td>{{ date3.nahualName }}</td>
      </tr>
      <tr>
        <th>Natural Sign: </th>
        <td>{{ date3.daySign }}</td>
      </tr>
    </table>
    <div>
      <img
        [src]="date3.image"
        [attr.alt]="'Nahual Sign: ' + date3.daySign"
      >
    </div>
  </article>
</section>
<section
  class="columns is-desktop"
>
  <article class="column">
      <mat-form-field>      
          <input
              matInput
              [formControl]="date4ctrl"
              [matDatepicker]="picker4"
              placeholder="Choose a date"
              (dateChange)="handleDateChange($event)"
          > 
          <mat-datepicker-toggle
              matSuffix
              [for]="picker4"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>

    <section class="birthday-blocks">
      <kinam-maya-number-block [number]="date3.getMonth()">
        <strong>
          Month:{{ date3.getMonth() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date3.getDay()">
        <strong>
          Day: {{ date3.getDay() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date3.getYear()">
        <strong>
          Year: {{ date3.getYear() }}
        </strong>
      </kinam-maya-number-block>
    </section>

  </article>
  <article class="column">
    <table class="table is-fullwidth">
      <tr>
        <th>Nahual Day: </th>
        <td>{{ date4.nahualDay }}</td>
      </tr>
      <tr>
        <th>Nahual Name: </th>
        <td>{{ date4.nahualName }}</td>
      </tr>
      <tr>
        <th>Natural Sign: </th>
        <td>{{ date4.daySign }}</td>
      </tr>
    </table>
    <div>
      <img
        [src]="date4.image"
        [attr.alt]="'Nahual Sign: ' + date4.daySign"
      >
    </div>
  </article>
</section>