<section
  class="columns is-desktop"
>
  <article class="column">
    <mat-form-field>      
        <input
          matInput
          [formControl]="dateCtrl"
          [matDatepicker]="picker"
          (dateChange)="handleDateChange($event)"
        > 
        <mat-datepicker-toggle
            matSuffix
            [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <section class="birthday-blocks">
      <kinam-maya-number-block [number]="date.getMonth()">
        <strong>
          Month:{{ date.getMonth() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date.getDay()">
        <strong>
          Day: {{ date.getDay() }}
        </strong>
      </kinam-maya-number-block>
      <kinam-maya-number-block [number]="date.getYear()">
        <strong>
          Year: {{ date.getYear() }}
        </strong>
      </kinam-maya-number-block>
    </section>

    <article class="column">
      <table class="table is-fullwidth">
        <tr>
          <th>Nahual Day: </th>
          <td>{{ date.nahualDay }}</td>
        </tr>
        <tr>
          <th>Nahual Name: </th>
          <td>{{ date.nahualName }}</td>
        </tr>
        <tr>
          <th>Natural Sign: </th>
          <td>{{ date.daySign }}</td>
        </tr>
      </table>
      <div>
        <img
          [src]="date.image"
          [attr.alt]="'Nahual Sign: ' + date.daySign"
        >
      </div>
    </article>
  </article>
</section>