:host {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2rem;
  min-height: 20rem;
  width: 20rem;
  margin: auto;
  overflow: hidden;
}

// @keyframes slideOut {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(-200px);
//   }
// }

.date {
  transition: 0.2s all ease-in-out;
  transform: translateY(0);
  opacity: 1;
  position: absolute;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;

  // &-invisible {
  //   transition: 0.2s all ease-in-out;
  // }
}

.fa-plus,
.fa-minus {
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}

input {
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  padding: 1rem;
  color: white;
  border: none;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #373737;
  transition: border-bottom 0.2s ease-in-out;

  &:active,
  &:focus {
    border-bottom: 1px solid white;
    transition: border-bottom 0.2s ease-in-out;
    outline: none;
  }
}

.container {
  display: flex;
  padding: 2rem;
  width: 100vw;
}

.outer {
  // transform: translateY(0);
  // opacity: 1;
  // transition: 0.2s all ease-in;
  overflow: hidden;
  position: absolute;

  input {
    display: block;
    // width: 100%;
  }

  // &.closed {
  //   transform: translateY(200px);
  //   opacity: 0;
  //   transition: 0.2s all ease-out;
  // }
}

.enter-label {
  cursor: pointer;
}
