<div *ngIf="content$ | async as content" [ngSwitch]="!(loading$ | async)">
  <div [formGroup]="form">
    <div class="birthday-input">
      <div class="birthday-input__number-container" [class.is-focussed]="focussed === 'day'">
        <label class="label">Day</label>
        <input class="date-input" (focus)="focus('day')" (blur)="blur()" id="day" type="number" min="1"
          [max]="maxDates[form.value.month - 1]" placeholder="Day" formControlName="day" />
      </div>
      <div class="birthday-input__number-container" [class.is-focussed]="focussed === 'month'">
        <label class="label">Month</label>
        <input class="date-input" (focus)="focus('month')" (blur)="blur()" id="month" type="number" min="1" max="12"
          placeholder="Month" formControlName="month" />
      </div>
      <div class="birthday-input__number-container" [class.is-focussed]="focussed === 'year'">
        <label class="label">Year</label>
        <input class="date-input" (focus)="focus('year')" (blur)="blur()" id="year" type="number" min="1900" max="2099"
          placeholder="Year" formControlName="year" />
      </div>
    </div>
  </div>


  <!-- 
    
OLD STUFF!!!    
    
    
<div
  class="btn-container"
  (click)="toggle(date, inputs)"
>
  <i
    class="fal"
    [ngClass]="open ? 'fa-minus' : 'fa-plus'"
  ></i>
</div>
<div style="position: relative; width: 20rem">
  <div
    class="date"
    #date
  >
    <div *ngIf="
          form.get('day').value &&
            form.get('month').value &&
            form.get('year').value;
          else noBd
        ">
      {{ form.get('day').value }}.{{ form.get('month').value }}.{{
          form.get('year').value
        }}
    </div>
  </div>
  <form
    #inputs
    class="outer"
    action=""
    [formGroup]="form"
    (submit)="toggle(date, inputs)"
    style="transform: translateY(200px); opacity: 0;"
  >
    <input
      type="number"
      min="1"
      max="31"
      placeholder="1"
      formControlName="day"
    />

    <input
      type="number"
      min="1"
      max="12"
      placeholder="7"
      formControlName="month"
    />

    <input
      type="number"
      min="1900"
      max="2099"
      placeholder="1992"
      formControlName="year"
    />
    <button
      type="submit"
      hidden
    ></button>
  </form>
</div>
<ng-template #noBd>
  <span
    (click)="toggle(date, inputs)"
    class="enter-label"
  >Enter your Birthday</span>
</ng-template> -->