<ng-container *ngIf="(menuHidden$ | async) as menuHidden">
  <div
    class="backdrop"
    [class.active]="!menuHidden.hidden"
    (click)="close()"
  ></div>

  <aside
    class="side-menu"
    [class.hidden]="menuHidden.hidden"
  >

    <div
      class="menu-inner-close"
      (click)="close()"
    >
      <i class="fal fa-times"></i>
    </div>

    <ul>
      <li (click)="navigate('')">
        WELCOME
      </li>
      <li (click)="navigate('the-jacket')">
        THE JACKET
      </li>
      <li (click)="navigate('the-mayans')">
        THE MAYANS
      </li>
      <li (click)="navigate('social-projects')">
        SOCIAL PROJECTS
      </li>
      <li (click)="navigate('')">
        THE MUSIC
      </li>
    </ul>
  </aside>
</ng-container>