<div class="main" #main>






    <div class="gradient " style="margin-top: 5rem;">
      <!-- <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div> -->
      <section class="section responsive">
        <div class="columns is-gapeless"> 
                  <div class="column is-1">

        </div>
        <div class="column is-4">
            <div class="content-block__headline ancient-heading">
                The Sacred Tzolkin Calendar of the Maya 
              </div>
            <div style="margin-top: 2rem;" >
                <img src="assets/Mayans/Calendar.jpg"><br>
            </div>
             
          </div>
        <div class="column is-6">
          <!-- <div class="content-block__headline ancient-heading">
            The Sacred Tzolkin Calendar of the Maya 
          </div> -->
          <p> 
              <br>The sacred Tzolkin calendar has been passed down from generation to generation since the date 
              of creation. Studying astronomy and astrology played a central role in the ancient Maya culture. 
              It helped them understand the past, lead their lives in the present, and foresee the future. 
              Observatories were built to analyze the stars and track the movements of the planets, sun, moon 
              and galaxies, and they were able to perfectly predict eclipses 3,500 years into the future.<br>
              <br>The Tzolkin calendar includes 13 months of 20 days each, totaling 260 days for one year. The word 
              “tzolkin” literally means to count the days, which was very important to the Mayas and this 
              calendar was used to keep track of ceremonial and religious events.<br>
              <br>Each person in the Maya communities took their societal role based on the astrological energy 
              sign of the day and year they were born, one out of 20  so-called "nawals" or guardian spirits. 
              Each nawal is associated with an animal or element of nature important to the Maya as well as 
              associated character traits, qualities and tendencies. This system kept peace and harmony amongst 
              the Mayas for thousands of years.
              
          </p>
          <!-- <a routerLinkActive="active" routerLink="/calendar" style="font-weight:bold; text-decoration: underline; color: white;">
            Check Your Nahwal</a> -->

            <div>
                <a routerLink="/calendar">
                  <div class="btn--mayans" style="margin: 2rem 13rem 0 0.5rem">
                    <div class="hover-container">
                      <div class="outer">
                        <div class="inner overlay" style="width: 13rem; height:2.3rem"></div>
                        <div class="inner outline" style="width: 13rem; height:2.3rem"></div>
                        <div class="behind fill" style="width: 13rem; height:2.3rem">
                          <div class="mayan-reading__text">
                            <span style="font-size: 0.9rem; width: 12rem; margin-left: 1rem;">DISCOVER YOUR NAWAL</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
        </div>
        <!-- <div class="column is-4">
          <div style="margin-top: 9rem;" >
              <img src="assets/Mayans/Calendar.jpg"><br>
          </div>
           
        </div> -->
        </div>
        </section>
        </div>