<kinam-playlist class="playlist" [class.slide-out__playlist]="!(playlistVisible$ | async)"></kinam-playlist>

<div class="miniplayer" [class.slide-out__player]="!(playerVisible$ | async)">
  <i class="fal fa-stream" (click)="toggleSlide()"></i>

  <ng-container *ngIf="(currentSong | async) as song">
    <div class="play">
      <i class="fal fa-step-backward"></i>
      <i class="fal" (click)="togglePlay()" [ngClass]="
          !!(song.time.isPlaying | async) ? 'fa-pause-circle' : 'fa-play-circle'
        "></i>
      <i class="fal fa-step-forward"></i>
    </div>


    <div class="progress-container">
      <ng-container *ngIf="(song.time.total | async)  as total">
        <ng-container *ngIf="(song.time.elapsed | async)  as elapsed">
          <ng-container *ngIf="(song.time.totalRaw | async) as totalRaw">
            <ng-container *ngIf="(song.time.elapsedRaw | async) as elapsedRaw">
              <progress [value]="elapsedRaw * 100" [max]="totalRaw * 100"></progress>
            </ng-container>
          </ng-container>

          <div class=" timespan">

            <span>{{ elapsed }} </span>

            <span>{{ song.title }}</span>

            <span>{{ total }} </span>

          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
