<ng-container *ngIf="(songs | async) as plSongs">
  <ul
    *ngIf="!!plSongs.length; else noSongs"
    cdkDropList
    (cdkDropListDropped)="dropped($event)"
  >
    <li
      *ngFor="let song of plSongs"
      cdkDrag
      cdkDragLockAxis="y"
      (click)="loadSong(song)"
    >
      <span class="song-title">
        {{ song.artist ? song.artist + ' -' : null }} {{ song.title }}
      </span>

      <div class="song-icons" *ngIf="song.file">
        <i class="fal fa-play" (click)="play(song)"></i>
        <i class="fal fa-cloud-download" (click)="downloadFile(song)"></i>
      </div>

      <progress
        class="song-progress"
        *ngIf="!song.file"
        [value]="song.loaded | async"
        max="100"
      ></progress>
    </li>
  </ul>
</ng-container>
<ng-template #noSongs>
  <div class="no-songs">
    <h2 class="subtitle">
      No Songs in playlist
      <br />
      <br />
      :(
    </h2>
  </div>
</ng-template>
