
.headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}

.section-header {
    transform: none;
    text-align: left;
    font-size: 4rem;
}

.slider-container {
    display: flex;
}

.jacket-number {
    font-size: 1.5rem;
    padding-left: 6rem;
    color: #848484;
}


.header {
    &-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 512px;
        width: 512px;
        align-items: center;
    }

    &-container {
        display: flex;
        min-width: 480px;
        width: 490px;
        overflow: hidden;
        margin: 3rem 1rem 0 1rem;
        // padding: 1rem;
    }
}

.arrow {
    cursor: pointer;

    &--left {
        margin-left: 2rem;
        transform: rotate(180deg);
    }
}


.color-grid {
    display: grid;
    grid-template-rows: repeat(2, 2.25rem);
    grid-template-columns: repeat(4, 1.5rem);
    grid-gap: 2px;
    margin: 0 2rem;

    transform: scale(1) skew(15deg, 0deg);
    transition: transform 0.2s ease-in-out;
    
    &__tile {
        &:hover{ 
            transform: scale(1.2);
            transition: transform 0.2s ease-in-out;
        }
    }

    .tile_1 {
        background-color: #c23e64;
    }
    
    .tile_2 {
        background-color: #ede279;
    }
    
    .tile_3 {
        background-color: #ecd6ef;
    }

    .tile_5 {
        background-color: #66aef6;
    }

    .tile_6 {
        background-color: #172092;
    }

    .tile_7 {
        background-color: #f19337;
    }

    .tile_8 {
        background-color: #a74dc9;
    }

    .tile_9 {
        background-color: #2a2c2b;
    }

    .tile_10 {
        background-color: #f9f1f4;
    }
}

@media (min-width: 0) and (max-width: 768px) { 
    .tribe-header {
        font-size: 35px !important;
        line-height: 45px !important;
        padding: 0 !important;
        margin-left: 29% ;
    }
    .header-text {
        min-width: 450px !important;
        width: 450px !important;
    }
    .headline {
        justify-content: center;
        margin-top: 8rem;
    }
}