<div
    #main
    class="main"
>
<style type="text/css">

  .wall__bg {
  background-image: url("/assets/music.png");
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.gradient 
{
   height: 150%; 
}


  
p{
  font-size: 13px;
}
.po{

  font-size: 110px;
  color:white;
  line-height: .9;
}
.pof{
  font-size: 40px;
  line-height: .9;
  color:white;
}
.poff{
    font-size: 70px;
    line-height: .9;
    color:white;
}


  .submenu
{
padding-left: 700px;
color: white;
}
.submenu2
{
padding-left: 100px;
color: white;
}
  
</style>
<div class="gradient " style="margin-top: -160px;">

    <div class="gradient gradient__image wall__bg" style="margin-top: 0px;" ></div>
      <section class="section responsive" style="margin-top: 160px;">
<br><br>
<div class="links" style="margin-top: 130px;">
 <a  class="submenu" > <u>Kinam music</u></a>  <a   class="submenu2" >Kinam artist </a>  
 
</div>
 <div class="columns" style="margin-top: 60px;">
      <div class="column is-5">
 <h1 style="text-align: right;" class="po">The<br>Music</h1>
 <h1 style="text-align: right;">Stories told by sound</h1>
 
        <div class="outer" style="float: right">
          <div
            class="inner overlay"
            id="overlay" style="width: 18rem;
    height: 2rem;"
          ></div>
          <div class="inner outline" style="width: 18rem;
    height: 2rem;" ></div>
          <div class="behind fill " style="width: 18rem;
    height: 2rem;">
            <div class="order-now__content">
              <div
                class=""
                style="font-weight: 600;font-family: century-gothic;font-size: 20px;margin-top: -15px; color: Brown"
              >
                &nbsp;Stream Now on Sound Cloud
              </div> 
           
            </div>
          </div>
        </div>
      </div>
     
      <div class="column is-3 ">

      
        
         <div class="gradient gradient__container">
  
   

  </div>
     <p style="margin-top: -400px">
 Many years ago,where the only things that existed were the calm,quiet sea,the sky and "Huracan",the heart of the sky (the almighty collective spiritual energy).Twin Tepeau and Gucumatz came during the darkness of night and wish them the spoken word.The creator and the "shaper" were mediating on the sea,surrounded by clarity.The decided over timethat they would create Man,so they combined their words and thoughts and it was declared by Huracan during the darkness,that life would be menifested so the trees and plants and land, evertythong that would help sustain life for this new creation occured in their thoughts and manifested into the world..They declared that Dawn should exist for life to form , and the day and light were created. 
</p>


      </div>
      <div class="column is-3 ">

         <div class="has-text-centered spotify-container">
      <iframe
        src="https://open.spotify.com/embed/album/323XXC7S9P5DhJJevRVzqy"
        class="spotify-player"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
    </div>
      </div>
    </div>
  </section>





 
</div>
















