<div #main class="main">
  <style type="text/css">
    .wall__bg {
      background-image: url("/assets/music.png");
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .gradient {
      height: 100%;
    }



    p {
      font-size: 13px;
    }

    .po {

      font-size: 110px;
      color: white;
      line-height: .9;
      font-family: Century Gothic, sans-serif;
    }

    .pof {
      font-size: 40px;
      line-height: .9;
      color: white;
    }

    .poff {
      font-size: 70px;
      line-height: .9;
      color: white;
    }

    .poc{
      font-family: freight-sans-pro;
    }


    .submenu {
      padding-left: 42%;
      color: white;
    }

    .submenu2 {
      padding-left: 100px;
      color: white;
    }
  </style>
  <div class="gradient " style="margin-top: -160px;">

    <!-- <div class="gradient gradient__image wall__bg" style="margin-top: 0px;"></div> -->
    <section class="section responsive" style="margin-top: 160px;">
      <br><br>
      <div class="links" style="margin-top: 130px;">
        <!-- <a class="submenu"> <u>Kinam music</u></a> <a class="submenu2">Kinam artist </a> -->

      </div>
      <div class="columns is-gapless" style="margin-top: 50px;">
        <div class="column is-6 music-heading" style="margin-top: -50px;">
          <h1 style="text-align: right;" class="po">The<br>Music</h1>
         
          <!-- 
          <div class="outer" style="float: right">
            <div class="inner overlay" id="overlay" style="width: 18rem;
    height: 2rem;"></div>
            <div class="inner outline" style="width: 18rem;
    height: 2rem;"></div>
            <div class="behind fill " style="width: 18rem;
    height: 2rem;">
              <div class="order-now__content">
                <div class=""
                  style="font-weight: 600;font-family: century-gothic;font-size: 20px;margin-top: -15px; color: Brown">
                  &nbsp;Stream Now on Sound Cloud
                </div>

              </div>
            </div>
          </div> -->
          <div class="mobile">
            <a href="https://soundcloud.com/kinam_music" target="_blank">
              <div class="btn--mayans is-pulled-right">
                <div class="hover-container" style="width: 10rem; height:2rem">
                  <div class="outer">
                    <div class="inner overlay" style="width: 15rem; height:2rem"></div>
                    <div class="inner outline" style="width: 15rem; height:2rem"></div>
                    <div class="behind fill" style="width: 15rem; height:2rem">
                      <div class="mayan-reading__text">
                        <span style="font-size: 0.7rem; width: 12rem">Stream now on Soundcloud</span>
                        <span style="width: 0.1rem"><i class="fal fa-chevron-right is-pulled-left "
                            style="font-size: 0.8rem; padding-top: 3px"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        
        <div class="column is-4 " style=" font-family: Century Gothic">
          <!-- <div class="gradient gradient__container"></div> -->
          <!-- <div>
            <kinam-product-slider></kinam-product-slider>
          </div> -->
         <div>
            <h1 style="text-align: left; line-height: 1" class="poc">Stories Told by Sound</h1><br>
              <p>
                  Music is what touches people emotionally. KINAM Music's aim is to completely immerse our listeners into the Maya world. The journey to create this special music took the team to Guatemala, to record live sounds from the jungle to tell the legends of the ancient Maya civilization. 

                  Music based on ancient legends described in the Maya’s sacred scripture, the “popol vuh”
                  
                  Hand-painted cover artworks portraying an iconic scenery of the underlying story
                  ​
                  Quick-to-read text versions of the legends to find in the corresponding Soundcloud info text (only visible in desktop version)        
                  
                  
                  Our first 3 teaser tracks are (bold) : <br>
                  
                  <br><b> Legend of the Creation of Man </b>
                  <br>The genesis story of the ancient Maya according to their sacred scripture, the “popol vuh”
                  <br>
                  <br><b>The Legend of Tecun Uman & the Quetzal</b>
                  <br>The story of the last Maya warrior and his guardian spirit "nawal" the Quetzal
                  <br>
                  <br><b> Legend of Ixchel & Itzamná</b>
                  <br>A tragic Maya love story with a happy end 
                  <br>
                <br><b>The Artists</b><br>
                <a href="https://www.christopher-koziol.com/" style="text-decoration: underline"> Christopher Koziol,</a>
                 Pablo Sorribes, Carlos Hahmman, Tobias Koziol
              </p>
              <img src="assets/Music/creation.jpg" style="padding-top: 2rem; text-align: justify;">
              <p>
                  <b>The Legend of the Creation of Man</b><br>

                  Many ages ago, when the only things that existed were the calm, quiet sea, the sky and “Huracán”, 
                  the almighty collective Spiritual Energy making up the heart of the sky, twins Tepeu and Gucumatz 
                  came during the darkness of night. The creator and the “shaper” were meditating on the sea. They 
                  broke the silence with the spoken word and in their state of complete clarity, they decided to 
                  create Man by joining their words and thoughts. Huracán declared he would manifest life into the 
                  trees, plants and land. Everything that would help sustain this new creation of life occurred in 
                  their thoughts and became reality. They agreed to create Dawn to allow the formation of life, and 
                  thus made day and light.<br>
                  
                  <br><b>The First Creation (animals)</b><br>
                  The creators made deer, birds, lions, tigers, snakes, and vipers to be the guardians of nature, 
                  protecting forests, tree branches, mountains, and valleys. The creators called for them, asking 
                  them to call their names, but the animals could not speak besides making noises. The animals were 
                  then condemned to guard the lands forever and be the meat for others.<br>
                  
                  <br><b>The Second Creation (first humans)</b><br>
                  The twins first tried creating humans out of mud, but their creations were blind, had no senses 
                  and couldn’t speak a comprehensible language. Soon enough, they fell apart and their faces melted 
                  off. Then they tried using wood to create Man. This was more successful, but their creations 
                  possessed no soul; they were mindless robots, meaning that they soon forgot about their makers 
                  and stopped worshipping them. Huracán set out to destroy the new race with powerful rain and storms, 
                  causing the animals to turn against the wooden people. Even their pots and querns rebelled and 
                  crushed the peoples' faces. What was left of the wooden people escaped to the forests and soon 
                  were turned into monkeys.<br>
                  
                  <br><b>The Final Creation: The Maize Men</b><br>
                  Tepeu & Gucumatz joined forces one last time to experiment with corn in attempts to create Man. 
                  They formed a man made of masa, or corn dough, who was able to speak and had a strong soul. 
                  Their creations could see for miles wherever they turned, so the gods formed mountains for humans 
                  to climb and see as far as their eyes could reach. They also made rivers to allow Man to travel 
                  and feed their fields. Since then, the humans give thanks to the gods for giving them these gifts,
                   and they set out to explore every corner of the world.
                  
                  
                  
              </p>
              <img src="assets/Music/quetzal.jpg" style="padding-top: 2rem; text-align: justify;">
              <p>
                  <b>The Legend of Tecun Uman & The Quetzal</b><br>

                  This is the story of Tecun Uman, the last Prince, Commander and Defender of the K’iche Maya Kingdom of
                   the highlands of Guatemala, and his spirit guardian, El Quetzal. In Maya belief, it is said that
                    every human being comes into this world with an energy that guides and protects its existence. 
                    This guardian spirit has a physical representation on Earth in the shape of an animal, called 
                    “Nawal”.

                  Tecun Uman’s Nawal was “el quetzal”, a small, beautiful bird with a long green, blue tail and 
                  stained red chest. It has been flying through the rainforests of Mesoamerica for thousands of 
                  years, and tales and recordings of it are still conserved in Maya writings. <br>
                  
                  <br>During the 1500’s, when the Spaniards, commanded by Hernan Cortes, were settled in Mexican 
                  lands and had already become allies with the local rulers, they heard that the powerful Maya 
                  kingdom of the Kiche had denied their loyalty to the Spanish crown and refused to allow the 
                  Spaniards to settle in Guatemalan lands.
                  
                  Cortés decided to dispatch Pedro de Alvarado with 180 cavalry, 300 infantry, crossbows, muskets, 
                  4 cannons, large amounts of ammunition and gunpowder, and thousands of allied Mexican warriors 
                  from Tlaxcala, Cholula and other cities in central Mexico. When Prince Tecun Uman saw that his 
                  people were threatened by the foreign invasion, he guided their troops into battle with courage 
                  and dignity, to protect his people from the Spanish conquistadors.<br>
                  
                  <br>The legends say that Tecun Uman entered into battle adorned with precious quetzal feathers, and 
                  his Nawal quetzal bird, accompanied him in the fight. In the midst of the battle, in the valleys 
                  of Xelaju, Alvarado and Tecun Uman met face to face, each with weapon in hand. Alvarado was clad 
                  in armor and mounted on his warhorse. As horses were not native to the Americas, and Mesoamerican 
                  peoples had no beasts of their own, Tecun Uman assumed they made up one being, and he killed 
                  Alvarado's horse. After falling from his horse, the rider pierced his steel sword through Tecun 
                  Uman and hit his heart. Filled with grief, the K'iche' prince's Nawal landed on the fallen hero's chest, 
                  staining its breast feathers red with blood and died thereafter. From that day, all male quetzals 
                  bear a scarlet breast and their song has not been heard since. Also, if a quetzal is placed in captivity,
                   it will die, making the quetzal a symbol of liberty.<br>
                  
                  
              </p>
              <img src="assets/Music/Ixchel.jpg" style="padding-top: 2rem; text-align: justify;">
              <p>
                  <b>The Legend of Ixchel & Itzamná <br></b>

                  Legend has it, in the days when gods were still mortal, there existed a love so deep and pure that 
                  its strength created the sun and moon, the day and night and the shining stars.
                  
                  A long time ago, in a land far away, there lived a beautiful woman named Ixchel, whose beauty 
                  entranced many men across the lands, including our young hero Itzamná. The charming Itzamná began 
                  to dazzle the coveted Ixchel, and deep love began to grow in both of them. Their destiny was 
                  written in the skies.<br>
                  
                  <br>One sunny day in paradise, a young stranger arrived in the village. Upon seeing Ixchel, he was 
                  instantly smitten and proclaimed his love for the young woman. Unaware of the growing love between 
                  Ixchel and Itzamná, Ixchel’s sister, Ixtab, organized a fight to the death between the two men for 
                  the love of the maiden. On the day of the big fight, Itzamná was destined to become the triumphant 
                  winner. Unfortunately, fate did not account for a cheating move from his opponent, wounding 
                  Itzamná in the back and causing him to drop dead.<br>
                  
                  <br>After seeing her beloved dead, Ixchel ran to him and took her own life. She passed her soul to 
                  her sister Ixtab, who became the goddess of suicide. Ixtap cursed the warrior and his dirty 
                  tricks, making him disappear without a trace, never to be spoken of again. The two young lovers 
                  traveled to the heavens to celebrate their love for the rest of the time. Itzamná was reborn as 
                  the sun god and Ixchel became the goddess of the moon, she is also considered the goddess of 
                  childbirth and fertility. To celebrate eternal love for his beloved, Itzamná gave Ixchel the 
                  brightness of the night in the form of stars. The legend says that every soul who dies of love 
                  becomes a star, shining their love for eternity.<br>
                  
              </p>
           </div>
        </div>

        <!-- <div class="column is-3 ">

          <div class="has-text-centered spotify-container">
            <iframe src="https://open.spotify.com/embed/album/323XXC7S9P5DhJJevRVzqy" class="spotify-player"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div> -->
        <div class="column is-1"></div>
        <!-- social icons column -->
        <div class="column is-1 social-icons">
          <kinam-social-icons></kinam-social-icons>
        </div>
      </div>
    </section>


    <!-- <section>
      <div class="column is-1 social-icons" style="width: 100%">
        <kinam-page-footer></kinam-page-footer>
      </div>
      <!-- <kinam-page-footer></kinam-page-footer> 
    </section> -->




  </div>