<div
  class="main"
  #main
>
  <h1 class="title">Music</h1>
  <hr>
  <section class="section">
    <div class="columns">
      <div class="column is-4 is-offset-2">
        From the beginning, KINAM’s mission was to share meaningful stories with people to form new emotional
        connections
        across the globe. That is why the co-founders of KINAM decided to combine design, fashion, music and video
        production to form a new integrated social impact brand to tell stories in all forms of tangible and intangible
        media. The journey took the team to Guatemala, to record live sounds from the jungle to tell the legends of the
        ancient Maya civilization and shoot the crowdfunding video for the entire project.
      </div>

      <div class="column is-4">
        They aim to completely immerse the listener into the Maya world with music based on actual legends described in
        the Mayan’s sacred scripture, the “popol vuh”, artworks portraying the stories’ iconic scenery and a
        comprehensible version of the story to read on their website. As for all KINAM incomes, 10% of all streaming
        revenues will go back to Guatemala to support the social projects of KINAM.

      </div>
    </div>
  </section>

  <div class="gradient gradient__container">
    <div class="gradient gradient__image wall__bg"></div>
    <div class="gradient gradient__overlay"></div>
    <div class="has-text-centered spotify-container">
      <iframe
        src="https://open.spotify.com/embed/album/323XXC7S9P5DhJJevRVzqy"
        class="spotify-player"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
    </div>
  </div>
</div>